<% include ../partials/header %>


<script>

  function sum() {
    var v1 = document.getElementById("value1").value;
    var v2 = document.getElementById("value2").value;
    var v3 = document.getElementById("value3").value;
    var v4 = document.getElementById("value4").value;
    var v5 = document.getElementById("value5").value;
    var v6 = document.getElementById("value6").value;
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6;
    if (!isNaN(result)) {
      document.getElementById("sum_value").value = result.toFixed(2); 
    }
  }

  function hcsum() {
    var hc1 = document.getElementById("headcount1").value;
    var hc2 = document.getElementById("headcount2").value;
    var hc3 = document.getElementById("headcount3").value;
    var hc4 = document.getElementById("headcount4").value;
    var hc5 = document.getElementById("headcount5").value;
    var hc6 = document.getElementById("headcount6").value;
    var result = +hc1 + +hc2 + +hc3 + +hc4 + +hc5 + +hc6;
    if (!isNaN(result)) {
      document.getElementById("hc_value").value = result.toFixed(2);
    }
  }


  function reactive(){
    var v1 = document.getElementById("value11").value;
    var v2 = document.getElementById("value12").value;
    var v3 = document.getElementById("value13").value;
    var v4 = document.getElementById("value14").value;
    var v5 = document.getElementById("value15").value;
    var v6 = document.getElementById("value16").value;
    var v7 = document.getElementById("value17").value;
    var v8 = document.getElementById("value18").value;
    var v9 = document.getElementById("value19").value;
    var v10 = document.getElementById("value20").value;
    var v11 = document.getElementById("value21").value;
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6 + +v7  + +v8 + +v9 + +v10 + +v11  ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactive").value = result.toFixed(2);
    }
  }

  function reactiveHCount(){
    var v1 = document.getElementById("value111").value;
    var v2 = document.getElementById("value112").value;
    var v3 = document.getElementById("value113").value;
    var v4 = document.getElementById("value114").value;
    var v5 = document.getElementById("value115").value;
    var v6 = document.getElementById("value116").value;
    var v7 = document.getElementById("value117").value;
    var v8 = document.getElementById("value118").value;
    var v9 = document.getElementById("value119").value;
    var v10 = document.getElementById("value120").value;
    var v11 = document.getElementById("value121").value;
    
    
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6 + +v7  + +v8 + +v9 + +v10 + +v11  ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactiveHCount").value = result.toFixed(2);
    }
  }

  function rework(){
    var v1 = document.getElementById("value1110").value;
    var v2 = document.getElementById("value1120").value;
    var v3 = document.getElementById("value1130").value;

    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_rework").value = result.toFixed(2);
    }
  }

  function reworkHCount(){
    var v1 = document.getElementById("value1010").value;
    var v2 = document.getElementById("value1020").value;
    var v3 = document.getElementById("value1030").value;
    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_reworkHCount").value = result.toFixed(2);
    }
  }



  function kcvp(){
    var v1 = document.getElementById("kcvp1").value;
    var v2 = document.getElementById("kcvp2").value;
    var v3 = document.getElementById("kcvp3").value;
    var v4 = document.getElementById("kcvp4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvp").value = result.toFixed(2);
    }
  }
  
  function kcvpHCount(){
    var v1 = document.getElementById("kcvpHCount1").value;
    var v2 = document.getElementById("kcvpHCount2").value;
    var v3 = document.getElementById("kcvpHCount3").value;
    var v4 = document.getElementById("kcvpHCount4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvpHCount").value = result.toFixed(2);
    }
  }

 
  function weekly() {

  var x = document.getElementById("myText").value;

  if( x=== "2019-W27" || x=== "2019-W28" || x=== "2019-W29" || x=== "2019-W30" || x=== "2019-W31" || x=== "2019-W32" || x=== "2019-W33" || x=== "2019-W34"|| x=== "2019-W35"|| x=== "2019-W36" || x=== "2019-W37" || x=== "2019-W38"|| x=== "2019-W39" ){
    
    
    document.getElementById("Planned_v1" ).innerHTML = "596.23";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.47";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "127.61";
    document.getElementById("Planned_v10").innerHTML = "1005.62";
    document.getElementById("Planned_v11").innerHTML = "780";
    document.getElementById("Planned_v12").innerHTML = "";
    document.getElementById("Planned_v13" ).innerHTML = "173";
    document.getElementById("Planned_v14").innerHTML = "53.46";
    document.getElementById("Planned_v15").innerHTML = "125.1";
    document.getElementById("Planned_v16").innerHTML = "50.76";
    document.getElementById("Planned_v17" ).innerHTML = "262.92";
    document.getElementById("Planned_v18").innerHTML = "202.92";
    document.getElementById("Planned_v19").innerHTML = "60";
    document.getElementById("Planned_v20").innerHTML = "462.92";
    document.getElementById("Planned_v21" ).innerHTML = "48.46";
    document.getElementById("Planned_v22").innerHTML = "40.07";
    document.getElementById("Planned_v23").innerHTML = "374.41";
    document.getElementById("Planned_v24").innerHTML = "165.62";
    document.getElementById("Planned_v25" ).innerHTML = "125";
    document.getElementById("Planned_v26").innerHTML = "18.46";
    document.getElementById("Planned_v27").innerHTML = "15.69";
    document.getElementById("Planned_v28").innerHTML = "6.46";
    document.getElementById("Planned_v29" ).innerHTML = "92.31";
    document.getElementById("Planned_v30").innerHTML = "2500";
    document.getElementById("Planned_v31").innerHTML = "92.31";
    document.getElementById("Planned_v32").innerHTML = "85.85";

    document.getElementById("Planned_hc1" ).innerHTML = "4.05";
    document.getElementById("Planned_hc2").innerHTML = "0.38";
    document.getElementById("Planned_hc3").innerHTML = "1.61";
    document.getElementById("Planned_hc4").innerHTML = "0.12";
    document.getElementById("Planned_hc5" ).innerHTML = "1.40";
    document.getElementById("Planned_hc6").innerHTML = "0.05";
    document.getElementById("Planned_hc7").innerHTML = "0.49";
    document.getElementById("Planned_hc8").innerHTML = "17.65";
    document.getElementById("Planned_hc9" ).innerHTML = "0.97";
    document.getElementById("Planned_hc10").innerHTML = "7.62";
    document.getElementById("Planned_hc11").innerHTML = "6.03";
    document.getElementById("Planned_hc12").innerHTML = "";
    document.getElementById("Planned_hc13" ).innerHTML = "1.22";
    document.getElementById("Planned_hc14").innerHTML = "0.38";
    document.getElementById("Planned_hc15").innerHTML = "0.95";
    document.getElementById("Planned_hc16").innerHTML = "0.29";
    document.getElementById("Planned_hc17" ).innerHTML = "0.82";
    document.getElementById("Planned_hc18").innerHTML = "0.32";
    document.getElementById("Planned_hc19").innerHTML = "0.50";
    document.getElementById("Planned_hc20").innerHTML = "1.22";
    document.getElementById("Planned_hc21" ).innerHTML = "0.35";
    document.getElementById("Planned_hc22").innerHTML = "0.11";
    document.getElementById("Planned_hc23").innerHTML = "0.76";
    document.getElementById("Planned_hc24").innerHTML = "0.30";
    document.getElementById("Planned_hc25" ).innerHTML = "0.20";
    document.getElementById("Planned_hc26").innerHTML = "0.03";
    document.getElementById("Planned_hc27").innerHTML = "0.05";
    document.getElementById("Planned_hc28").innerHTML = "0.02";
    document.getElementById("Planned_hc29" ).innerHTML = "2";
    document.getElementById("Planned_hc30").innerHTML = "0.10";
    document.getElementById("Planned_hc31").innerHTML = "2";
    document.getElementById("Planned_hc32").innerHTML = "0.10";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";

  }

// October 2019
  else if(x=== "2019-W40" || x=== "2019-W41" || x=== "2019-W42" || x=== "2019-W43" || x=== "2019-W44"){

    document.getElementById("P_CPH01").innerHTML = "1366";
    document.getElementById("P_CPH02").innerHTML = "1366";
    document.getElementById("P_CPH03").innerHTML = "1366";
    document.getElementById("P_CPH04").innerHTML = "1366";
    document.getElementById("P_CPH05").innerHTML = "1366";
    document.getElementById("P_CPH06").innerHTML = "1366";
    document.getElementById("P_CPH07").innerHTML = "1366";
    document.getElementById("P_CPH08").innerHTML = "1366";
    document.getElementById("P_CPH09").innerHTML = "1366";
    document.getElementById("P_CPH010").innerHTML = "1366";
    document.getElementById("P_CPH011").innerHTML = "1366";
    document.getElementById("P_CPH012").innerHTML = "1366";
    document.getElementById("P_CPH013").innerHTML = "1366";
    document.getElementById("P_CPH014").innerHTML = "1366";
    document.getElementById("P_CPH015").innerHTML = "1366";
    document.getElementById("P_CPH016").innerHTML = "1366";
    document.getElementById("P_CPH017").innerHTML = "1366";
    document.getElementById("P_CPH018").innerHTML = "1366";
    document.getElementById("P_CPH019").innerHTML = "1366";
    document.getElementById("P_CPH020").innerHTML = "1366";
    document.getElementById("P_CPH021").innerHTML = "1366";
    document.getElementById("P_CPH022").innerHTML = "1366";
    document.getElementById("P_CPH023").innerHTML = "1366";
    document.getElementById("P_CPH024").innerHTML = "1366";
    document.getElementById("P_CPH025").innerHTML = "1366";
    document.getElementById("P_CPH026").innerHTML = "1366";
    document.getElementById("P_CPH027").innerHTML = "1366";
    document.getElementById("P_CPH028").innerHTML = "1366";
    document.getElementById("P_CPH029").innerHTML = "1366";
    document.getElementById("P_CPH030").innerHTML = "1366";
    document.getElementById("P_CPH031").innerHTML = "1366";
    document.getElementById("P_CPH032").innerHTML = "1366";



    document.getElementById("Planned_v1" ).innerHTML = "658.84";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.46";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "123.2";
    document.getElementById("Planned_v10").innerHTML = "52";
    document.getElementById("Planned_v11").innerHTML = "14";
    document.getElementById("Planned_v12").innerHTML = "63";
    document.getElementById("Planned_v13" ).innerHTML = "5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "5.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";

    document.getElementById("P_CPH032").innerHTML = "1366" ;


  }
  //  Novenmber 2019
  else if(x=== "2019-W45" || x=== "2019-W46" || x=== "2019-W47" || x=== "2019-W48"){
    
        document.getElementById("P_CPH01").innerHTML = "1363";
    document.getElementById("P_CPH02").innerHTML = "1363";
    document.getElementById("P_CPH03").innerHTML = "1363";
    document.getElementById("P_CPH04").innerHTML = "1363";
    document.getElementById("P_CPH05").innerHTML = "1363";
    
    document.getElementById("P_CPH06").innerHTML = "1363";
    document.getElementById("P_CPH07").innerHTML = "1363";
    document.getElementById("P_CPH08").innerHTML = "1363";
    document.getElementById("P_CPH09").innerHTML = "1363";
    document.getElementById("P_CPH010").innerHTML = "1363";
    document.getElementById("P_CPH011").innerHTML = "1363";
    document.getElementById("P_CPH012").innerHTML = "1363";
    document.getElementById("P_CPH013").innerHTML = "1363";
    document.getElementById("P_CPH014").innerHTML = "1363";
    document.getElementById("P_CPH015").innerHTML = "1363";
    document.getElementById("P_CPH016").innerHTML = "1363";
    document.getElementById("P_CPH017").innerHTML = "1363";
    document.getElementById("P_CPH018").innerHTML = "1363";
    document.getElementById("P_CPH019").innerHTML = "1363";
    document.getElementById("P_CPH020").innerHTML = "1363";
    document.getElementById("P_CPH021").innerHTML = "1363";
    document.getElementById("P_CPH022").innerHTML = "1363";
    document.getElementById("P_CPH023").innerHTML = "1363";
    document.getElementById("P_CPH024").innerHTML = "1363";
    document.getElementById("P_CPH025").innerHTML = "1363";
    document.getElementById("P_CPH026").innerHTML = "1363";
    document.getElementById("P_CPH027").innerHTML = "1363";
    document.getElementById("P_CPH028").innerHTML = "1363";
    document.getElementById("P_CPH029").innerHTML = "1363";
    document.getElementById("P_CPH030").innerHTML = "1363";
    document.getElementById("P_CPH031").innerHTML = "1363";
    document.getElementById("P_CPH032").innerHTML = "1363";


    document.getElementById("Planned_v1" ).innerHTML = "658.84";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.46";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "123.2";
    document.getElementById("Planned_v10").innerHTML = "52";
    document.getElementById("Planned_v11").innerHTML = "14";
    document.getElementById("Planned_v12").innerHTML = "63";
    document.getElementById("Planned_v13" ).innerHTML = "5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "5.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    document.getElementById("P_CPH032").innerHTML = "1366" ;

  }

  //  December 2019
  else if(x=== "2019-W49" || x=== "2019-W50" || x=== "2019-W51" || x=== "2019-W52"){
    

        document.getElementById("P_CPH01").innerHTML = "1498";
    document.getElementById("P_CPH02").innerHTML = "1498";
    document.getElementById("P_CPH03").innerHTML = "1498";
    document.getElementById("P_CPH04").innerHTML = "1498";
    document.getElementById("P_CPH05").innerHTML = "1498";
    
    document.getElementById("P_CPH06").innerHTML = "1498";
    document.getElementById("P_CPH07").innerHTML = "1498";
    document.getElementById("P_CPH08").innerHTML = "1498";
    document.getElementById("P_CPH09").innerHTML = "1498";
    document.getElementById("P_CPH010").innerHTML = "1498";
    document.getElementById("P_CPH011").innerHTML = "1498";
    document.getElementById("P_CPH012").innerHTML = "1498";
    document.getElementById("P_CPH013").innerHTML = "1498";
    document.getElementById("P_CPH014").innerHTML = "1498";
    document.getElementById("P_CPH015").innerHTML = "1498";
    document.getElementById("P_CPH016").innerHTML = "1498";
    document.getElementById("P_CPH017").innerHTML = "1498";
    document.getElementById("P_CPH018").innerHTML = "1498";
    document.getElementById("P_CPH019").innerHTML = "1498";
    document.getElementById("P_CPH020").innerHTML = "1498";
    document.getElementById("P_CPH021").innerHTML = "1498";
    document.getElementById("P_CPH022").innerHTML = "1498";
    document.getElementById("P_CPH023").innerHTML = "1498";
    document.getElementById("P_CPH024").innerHTML = "1498";
    document.getElementById("P_CPH025").innerHTML = "1498";
    document.getElementById("P_CPH026").innerHTML = "1498";
    document.getElementById("P_CPH027").innerHTML = "1498";
    document.getElementById("P_CPH028").innerHTML = "1498";
    document.getElementById("P_CPH029").innerHTML = "1498";
    document.getElementById("P_CPH030").innerHTML = "1498";
    document.getElementById("P_CPH031").innerHTML = "1498";
    document.getElementById("P_CPH032").innerHTML = "1498";


    document.getElementById("Planned_v1" ).innerHTML = "658.84";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.46";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "123.2";
    document.getElementById("Planned_v10").innerHTML = "52";
    document.getElementById("Planned_v11").innerHTML = "14";
    document.getElementById("Planned_v12").innerHTML = "63";
    document.getElementById("Planned_v13" ).innerHTML = "5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "5.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";

  }

  
  // 2020 Q1 
  else if(x=== "2020-W01" || x=== "2020-W02" || x=== "2020-W03" || x=== "2020-W04" || x=== "2020-W05" || x=== "2020-W06"   || x=== "2020-W07" || x=== "2020-W08" || x=== "2020-W09" || x=== "2020-W10" || x=== "2020-W11" || x=== "2020-W12" || x=== "2020-W13" ){
    


    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }
  else if( x=== "2020-W14" || x=== "2020-W15" || x=== "2020-W16"   || x=== "2020-W17" || x=== "2020-W18" || x=== "2020-W19" || x=== "2020-W20" || x=== "2020-W21" || x=== "2020-W22" || x=== "2020-W23" || x=== "2020-W24"|| x=== "2020-W25"|| x=== "2020-W26" ){
    
  
    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13").innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17").innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";


    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }

  else if( x=== "2020-W27" || x=== "2020-W28" || x=== "2020-W29" || x=== "2020-W30" || x=== "2020-W31" || x=== "2020-W32" || x=== "2020-W33" || x=== "2020-W34"|| x=== "2020-W35"|| x=== "2020-W36" || x=== "2020-W37" || x=== "2020-W38"|| x=== "2020-W39"|| x=== "2020-W40" ){
    
    
    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }


  else   if(x=== "2020-W41" || x=== "2020-W42" || x=== "2020-W43" || x=== "2020-W44" || x=== "2020-W45" || x=== "2020-W46"   || x=== "2020-W47" || x=== "2020-W48" || x=== "2020-W49" || x=== "2020-W50" || x=== "2020-W51" || x=== "2020-W52" || x=== "2020-W53" ){
    
    
    document.getElementById("Planned_v1" ).innerHTML = "363.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "563.5";
    document.getElementById("Planned_v4").innerHTML = "963.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "763.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";


  }

  else{
    document.getElementById("P_CPH032").innerHTML = x ;
  	document.getElementById("Planned_v1" ).innerHTML = x;
    document.getElementById("Planned_v2").innerHTML = x;
    document.getElementById("Planned_v3").innerHTML = x;
    document.getElementById("Planned_v4").innerHTML = x;
    document.getElementById("Planned_v5" ).innerHTML =  x;
    document.getElementById("Planned_v6").innerHTML =  x;
    document.getElementById("Planned_v7").innerHTML =  x;
    document.getElementById("Planned_v8").innerHTML = x;
    document.getElementById("Planned_v9" ).innerHTML =  x;
    document.getElementById("Planned_v10").innerHTML =  x;
  	document.getElementById("Planned_v21" ).innerHTML = x;
    document.getElementById("Planned_v22").innerHTML = x;
    document.getElementById("Planned_v23").innerHTML = x;
    document.getElementById("Planned_v24").innerHTML = x;
    document.getElementById("Planned_v25" ).innerHTML =  x;
    document.getElementById("Planned_v26").innerHTML =  x;
    document.getElementById("Planned_v27").innerHTML =  x;
    document.getElementById("Planned_v28").innerHTML = x;
    document.getElementById("Planned_v29" ).innerHTML =  x;
    document.getElementById("Planned_v30").innerHTML =  x;
  	document.getElementById("Planned_v31" ).innerHTML = x;
    document.getElementById("Planned_v32").innerHTML = x;

    document.getElementById("Planned_hc1" ).innerHTML = null;
    document.getElementById("Planned_hc2").innerHTML = null;
    document.getElementById("Planned_hc3").innerHTML =  null ;
    document.getElementById("Planned_hc4").innerHTML =  null ;
    document.getElementById("Planned_hc5" ).innerHTML = null; 
    document.getElementById("Planned_hc6").innerHTML =  null;
    document.getElementById("Planned_hc7").innerHTML =  null;
    document.getElementById("Planned_hc8").innerHTML = null ;
    document.getElementById("Planned_hc9" ).innerHTML =  null;
    document.getElementById("Planned_hc10").innerHTML =  null;
    document.getElementById("Planned_hc11").innerHTML = null; 
    document.getElementById("Planned_hc12").innerHTML = null ;
    document.getElementById("Planned_hc13" ).innerHTML = null;
    document.getElementById("Planned_hc14").innerHTML = null ;
    document.getElementById("Planned_hc15").innerHTML =  null;
    document.getElementById("Planned_hc16").innerHTML = null;
    document.getElementById("Planned_hc17" ).innerHTML =  null;
    document.getElementById("Planned_hc18").innerHTML = null;
    document.getElementById("Planned_hc19").innerHTML =  null;
    document.getElementById("Planned_hc20").innerHTML =  null;
    document.getElementById("Planned_hc21" ).innerHTML =  null;
    document.getElementById("Planned_hc22").innerHTML = null ;

        document.getElementById("Planned_hc23").innerHTML =  null;
        document.getElementById("Planned_hc24").innerHTML =  null;
        document.getElementById("Planned_hc25" ).innerHTML =  null;
        document.getElementById("Planned_hc26").innerHTML = null ;
        document.getElementById("Planned_hc27").innerHTML =  null;
        document.getElementById("Planned_hc28").innerHTML =  null;
        document.getElementById("Planned_hc29" ).innerHTML = null;
        document.getElementById("Planned_hc30").innerHTML =  null;
        document.getElementById("Planned_hc31").innerHTML =  null;
        document.getElementById("Planned_hc32").innerHTML = null ;
  }
}
  
</script>


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Edit <%= xray.week %> <%= xray.team %></h1>
    <div style="margin: 25px auto; ">
      <form
      action="/xray/<%= xray._id %>?_method=PUT"
      method="POST"
    >
        <table class="ui celled structured striped table" >
          <thead>
            <tr>
              <th>
                
              </th>
           
              <th class="ui center aligned header" colspan="2">Actual</th>
              <th class="ui center aligned header" colspan="1">Accuracy</th>
              <th class="ui center aligned header" colspan="1">Call Outs</th>
              <th class="ui center aligned header" colspan="2">CPH</th>
            </tr>

            <tr>
              <th class="ui center aligned ">
                Title
              </th>
            
              <th>Volume</th>
              <th>Head Count</th>
              <th>Accuaracy percent ( % )</th>
              <th>Reason</th>
              <th>Actual</th>
              <th>Planned</th>
            </tr>

            <!-- 1  Proactive (Fresh Audits) -->
            <tr>
              <th class="ui center aligned header blue">
                Proactive (Fresh Audits)
              </th>
            
              
              <td>
                <input
                  name="xray[A_Vol1]"
                  id="sum_value"
                  value="<%= xray.A_Vol1 %>"
                  class="form-control"
                  type="text"
                  readonly
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount1]"
                  class="form-control"
                  value="<%= xray.A_HCount1 %>"
                  id="hc_value"
                  type="text"
                  readonly
                />
              </td>
              
              <td><input type="text"  value="<%= xray.accuracy1 %>"  name="xray[accuracy1]" class="form-control" ></td> 
              <td><textarea rows="2" name="xray[couts1]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH1]" class="form-control" value="<%= xray.A_CPH1 %>"    ></td>
              <td><label for="week"  id="P_CPH01" name="xray[P_CPH01]"  ></label></td>
        
            </tr>

            <!-- 2. Best Sellers -->
            <tr>
              <th>Best Sellers</th>
              
             
              <td>
                <input
                  name="xray[A_Vol2]"
                  id="value1"
                  onkeyup="sum();"
                  class="form-control"
                  value="<%= xray.A_Vol2 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount2]"
                  class="form-control"
                  id="headcount1"
                  value="<%= xray.A_HCount2 %>"
                  onkeyup="hcsum();"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy2]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts2]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH2]" class="form-control"  value="<%= xray.A_CPH2 %>" ></td>
              <td><label   for="week"  id="P_CPH02" name="P_CPH02"  ></label></td>
            </tr>

          <!-- Pre-Orders -->
            <tr>
              <th>Pre-Orders</th>
             
              
              <td>
                <input
                  name="xray[A_Vol3]"
                  id="value2"
                  onkeyup="sum();"
                  class="form-control"
                  value="<%= xray.A_Vol3 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount3]"
                  id="headcount2"
                  onkeyup="hcsum();"
                  class="form-control"
                  value="<%= xray.A_HCount3 %>"
                  type="text"
                />
              </td>

              <td><input type="text"  name="xray[accuracy3]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts3]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH3]" class="form-control" value="<%= xray.A_CPH3 %>"  ></td>
              <td><label   for="week"  id="P_CPH03" name="P_CPH03"  ></label></td>
            </tr>

            <!-- 4. Big Books -->
            <tr>
              <th>Big Books</th>
              
              
              <td>
                <input
                  name="xray[A_Vol4]"
                  class="form-control"
                  id="value3"
                  onkeyup="sum();"
                  value="<%= xray.A_Vol4 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount4]"
                  id="headcount3"
                  onkeyup="hcsum();"
                  value="<%= xray.A_HCount4 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy4]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts4]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH4]" class="form-control" value="<%= xray.A_CPH4 %>"  ></td>
              <td><label   for="week"  id="P_CPH04" name="xray[P_CPH04]"  ></label></td>
            </tr>

            <!-- 5. Kindle Deals -->
            <tr>
              <th>Kindle Deals</th>
             
              <td>
                <input
                  name="xray[A_Vol5]"
                  class="form-control"
                  id="value4"
                  onkeyup="sum();"
                  value="<%= xray.A_Vol5 %>"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="xray[A_HCount5]"
                  id="headcount4"
                  onkeyup="hcsum();"
                  class="form-control"
                  value="<%= xray.A_HCount5 %>"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy5]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts5]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH5]" class="form-control" value="<%= xray.A_CPH5 %>"  ></td>
              <td><label   for="week"  id="P_CPH05" name="P_CPH05"  ></label></td>

            </tr>

            <!--  6. Ad-hoc Requests / Escalation Audits -->
            <tr>
              <th>Ad-hoc Requests / Escalation Audits</th>
             
             
              <td>
                <input
                  name="xray[A_Vol6]"
                  id="value5"
                  onkeyup="sum();"
                  class="form-control"
                  value="<%= xray.A_Vol6 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount6]"
                  id="headcount5"
                  onkeyup="hcsum();"
                  class="form-control"+
                  value="<%= xray.A_HCount6 %>"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy6]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts6]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH6]" class="form-control" value="<%= xray.A_CPH6 %>"  ></td>
              <td><label   for="week"  id="P_CPH06" name="P_CPH06"  ></label></td>
            </tr> 
            
            
            
            <!-- 7. KU Page Violation Audits -->

            <tr>
              <th> KU Page Violation Audits </th>
             
              <td>
                <input
                  name="xray[A_Vol7]"
                  id="value6"
                  onkeyup="sum();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol7 %>"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount7]"
                  id="headcount6"
                  onkeyup="hcsum();"
                  class="form-control"
                  value="<%= xray.A_HCount7 %>"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy7]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts7]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH7]" class="form-control" value="<%= xray.A_CPH7 %>"  ></td>
              <td><label   for="week"  id="P_CPH07" name="P_CPH07"  ></label></td>
            </tr>



        <!--8. Reactive (Contacts) -->
          <tr>
            <th class="ui center aligned header blue" >Reactive (Contacts) </th>
           
            
            <td>
              <input name="xray[A_Vol8]" class="form-control" type="text" id="sum_reactive"  value="<%= xray.A_Vol8 %>"  readonly />
            </td>
            <td>
              <input name="xray[A_HCount8]" class="form-control" type="text"  value="<%= xray.A_HCount8 %>" id="sum_reactiveHCount" readonly />
            </td>
            <td><input type="text"  name="xray[accuracy8]"  value="<%=xray.accuracy8 %>" class="form-control"></td>
            <td><textarea rows="2" name="xray[couts8]"></textarea></td>
            <td><input type="text"   name="xray[A_CPH8]" class="form-control" value="<%= xray.A_CPH8 %>"  ></td>
            <td><label   for="week"  id="P_CPH08" name="P_CPH08"  ></label></td>
          </tr>


          <!--9. Andons & Regulars -->

            <tr>
              <th class="ui  header subhead grey " >Andons & Regulars</th>
             
              <td>
                <input
                  name="xray[A_Vol9]"
                  id="value11"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol9 %>"
                  type="text"
                />
              </td>          
              <td>
                <input
                  name="xray[A_HCount9]"
                  id="value111"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount9 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy9]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts9]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH9]" value="<%= xray.A_CPH9 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH09" name="P_CPH09"  ></label></td>
            </tr>



            <!--10  Report Content Errors -->

            <tr>
              <th class="ui  header subhead grey ">Report Content Errors</th>
              </th>
             
              
              <td>
                <input
                  name="xray[A_Vol10]"
                  id="value12"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol10 %>"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount10]"
                  id="value112"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount10 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy10]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts10]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH10]" value="<%= xray.A_CPH10 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH010" name="P_CPH010"  ></label></td>
            </tr>

            <!--11. English -->

            <tr>
              <th>English</th>
             
              <td>
                <input
                  name="xray[A_Vol11]"
                  id="value13"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol11 %>"
                  type="text"
                />
                
              </td>
              <td>
                <input
                  name="xray[A_HCount11]"
                  id="value113"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount11 %>"
                  class="form-control"
                  type="text"
                />

              </td>
              <td><input type="text"  name="xray[accuracy11]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts11]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH11]" class="form-control" value="<%= xray.A_CPH11 %>"  ></td>
              <td><label   for="week"  id="P_CPH011" name="P_CPH011"  ></label></td>
            </tr>
            </tr>

            <!-- 12. English (High-value titles to be considered by Ops) -->

            <tr>
              <th>English (High-value titles to be considered by Ops)</th>
             
              <td>
                <input
                  name="xray[A_Vol12]"
                  id="value14"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol12 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount12]"
                  id="value114"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount12 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy12]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts12]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH12]" value="<%= xray.A_CPH12 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH012" name="P_CPH012"  ></label></td>
            </tr>
            </tr>


            <!-- 13.German  -->

            <tr>
              <th>German</th>
             
              
              <td>
                <input
                  name="xray[A_Vol13]"
                  id="value15"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol13 %>"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount13]"
                  id="value115"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount13 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy13]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts13]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH13]" value="<%= xray.A_CPH13 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH013" name="P_CPH013"  ></label></td>
            </tr>
            </tr>


            <!-- 14. French -->


            <tr>
              <th>French</th>
             
              
              <td>
                <input
                  name="xray[A_Vol14]"
                  id="value16"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol14 %>"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount14]"
                  id="value116"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount14 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy14]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts14]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH14]" value="<%= xray.A_CPH14 %>" class="form-control" ></td>
              <td><label   for="week"  id="P_CPH014" name="P_CPH014"  ></label></td>
            </tr>
            </tr>

            <!--  15.Customer Reviews -->

            <tr>
              <th class="ui header subhead grey" >Customer Reviews  </th>
              
              <td>
                <input
                  name="xray[A_Vol15]"
                  id="value17"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol15 %>"
                />
              </td>

              <td>
                <input
                  name="xray[A_HCount15]"
                  id="value117"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount15 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy15]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts15]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH15]" value="<%= xray.A_CPH15 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH015" name="P_CPH015"  ></label></td>
            </tr>
            </tr>


            <!-- 16 Massmail Tickets -->
            <tr>
              <th class="ui  header subhead grey">Massmail Tickets </th>
              <td>
                <input
                  name="xray[A_Vol16]"
                  id="value18"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol16 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount16]"
                  id="value118"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount16 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy16]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts16]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH16]" value="<%= xray.A_CPH16 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH016" name="xray[P_CPH016]"  ></label></td>
            </tr>
            </tr>



            <!-- 17. Publisher Response  -->
            <tr>
              <th class="ui  header subhead grey">Publisher Response </th>
              
              

              <td>
                <input
                  name="xray[A_Vol17]"
                  id="value19"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol17 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount17]"
                  id="value119"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount17 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy17]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts17]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH17]" value="<%= xray.A_CPH17 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH017" name="P_CPH017"  ></label></td>
            </tr>
            </tr>



            
            <!--  18 .Submitted Corrections   -->

            <tr>
              <th>Submitted Corrections   </th>
              
            

              <td>
                <input
                  name="xray[A_Vol18]"
                  id="value20"
                  onkeyup="reactive();"
                  class="form-control"
                  value="<%= xray.A_Vol18 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount18]"
                  id="value120"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount18 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy18]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts18]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH18]" value="<%= xray.A_CPH18 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH018" name="P_CPH018"  ></label></td>
            </tr>
            </tr>



            <!-- 19.Queries + Escalations  -->

            <tr>
              <th>Queries + Escalations     </th>
              
              
              
              <td>
                <input
                  name="xray[A_Vol19]"
                  id="value21"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                  value="<%= xray.A_Vol19 %>"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount19]"
                  id="value121"
                  onkeyup="reactiveHCount();"
                  value="<%= xray.A_HCount19 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="xray[accuracy19]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts19"]></textarea></td>
              <td><input type="text"   name="xray[A_CPH19]" value="<%= xray.A_CPH19 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH019" name="P_CPH019"  ></label></td>
            </tr>
            </tr>



            <!-- 20. Rework  -->
            <tr>
              <th class="ui center aligned header blue">Rework</th>
              
              <td>
                <input name="xray[A_Vol20]" class="form-control" value="<%= xray.A_Vol20 %>" type="text" id="sum_rework"  readonly />
              </td>

              <td>
                <input name="xray[A_HCount20]" class="form-control" value="<%= xray.A_HCount20 %>" type="text"  id="sum_reworkHCount" readonly />
              </td>
              <td><input type="text"  name="xray[accuracy20]" value="<%= xray.accuracy20 %>" class="form-control"></td>

              <td><textarea rows="2" name="xray[couts20]"></textarea></td>

              <td><input type="text"   name="xray[A_CPH20]" value="<%= xray.A_CPH20 %>" class="form-control" ></td>

              <td><label   for="week"  id="P_CPH020" name="P_CPH020"  ></label></td>
            </tr>
            </tr>



            
            <!-- 21.Rework Blocking  -->
            <tr>
              <th>Rework Blocking  </th>
              
              
              
              <td>
                <input
                  name="xray[A_Vol21]"
                  id="value1110"
                  onkeyup="rework();"
                  value="<%= xray.A_Vol21 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="xray[A_HCount21]"
                  id="value1010"
                  onkeyup="reworkHCount();"
                  value="<%= xray.A_HCount21 %>"
                  class="form-control"
                  type="text"
                />
               
              </td>
              <td><input type="text" name="xray[accuracy21]" value="<%= xray.accuracy21 %>"  class="form-control"></td>
              
              <td><textarea rows="2" name="xray[couts21]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH21]" value="<%= xray.A_CPH21 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH021" name="P_CPH021"  ></label></td>
            </tr>
            </tr>



            
            
          <!-- 22. Rework CFQ -->
            <tr>
              <th>Rework CFQI </th>
              
              
              <td>
                <input
                  name="xray[A_Vol22]"
                  id="value1120"
                  onkeyup="rework();"
                  class="form-control"
                  value="<%= xray.A_Vol22 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                name="xray[A_HCount22]"
                id="value1020"
                onkeyup="reworkHCount();"
                value="<%= xray.A_HCount22 %>"
                class="form-control"
                type="text"
              />
              </td>
              <td><input type="text"  name="xray[accuracy22]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts22]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH22]" value="<%= xray.A_CPH22 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH022" name="P_CPH022"  ></label></td>
            </tr>
            </tr>



            
            <!-- 23.Rework Non-Blocking  -->

            <tr>
              <th>Rework Non-Blocking  </th>
             <td>
                <input
                  name="xray[A_Vol23]"
                  id="value1130"
                  onkeyup="rework();"
                  class="form-control"
                  value="<%= xray.A_Vol23 %>"
                  type="text"
                />
              </td>
              <td>
                <input
                name="xray[A_HCount23]"
                id="value1030"
                onkeyup="reworkHCount();"
                value="<%= xray.A_HCount23 %>"
                class="form-control"
                type="text"
              />
              </td>
              <td><input type="text"  name="xray[accuracy23]" class="form-control"></td>
              <td><textarea rows="2" name="xray[couts23]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH23]" value="<%= xray.A_CPH23 %>" class="form-control"   ></td>
              <td><label   for="week"  id="P_CPH023" name="P_CPH023"  ></label></td>
            </tr>
            </tr>


              <!-- 29.Content Testing  -->
            
              <tr>
                <th class="ui center aligned header blue">Content Testing  </th>
                
  
                <td>
                  <input name="xray[A_Vol29]" value="<%= xray.A_Vol29 %>" class="form-control" type="text"  />
                </td>
                <td> 
                  <input name="xray[A_HCount29]" value="<%= xray.A_HCount29 %>" class="form-control" type="text"  />
                </td>
                <td><input type="text" name="xray[accuracy29]" value="<%= xray.accuracy29 %>"  class="form-control"></td>
                <td><textarea rows="2" name="xray[couts29]"></textarea></td>
                <td><input type="text"   name="xray[A_CPH29]" class="form-control"  value="<%= xray.A_CPH29 %>"  ></td>
                <td><label   for="week"  id="P_CPH029" name="P_CPH029"  ></label></td>
              </tr>
              </tr>
  
            

            <!-- 24.KCVP Detections  -->
            <tr>
              <th class="ui center aligned header blue">Others   </th>
              

              <td>
                <input name="xray[A_Vol24]" class="form-control" value="<%= xray.A_Vol24 %>" type="text" id="sum_kcvp" readonly  />
              </td>

              <td>
                <input name="xray[A_HCount24]" class="form-control"  value="<%= xray.A_HCount24 %>" type="text"  id="sum_kcvpHCount"  readonly />
              </td>

              <td><input type="text"  name="xray[accuracy24]" value="<%=  xray.accuracy24 %>"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts24]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH24]" value="<%= xray.A_CPH24 %>" class="form-control" ></td>
              <td><label   for="week"  id="P_CPH024" name="P_CPH024"  ></label></td>
            </tr>
            </tr>


            <!-- 25.Language Mismatch  -->
            <tr>
              <th > Language Mismatch  </th>
              
             
              <td>
                <input
                  name="xray[A_Vol25]"
                  id="kcvp1"
                  onkeyup="kcvp();"
                  class="form-control"
                  value="<%= xray.A_Vol25 %>"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="xray[A_HCount25]"
                  id="kcvpHCount1"
                  onkeyup="kcvpHCount();"
                  value="<%= xray.A_HCount25 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  class="form-control" name="xray[accuracy25]" ></td>
              <td><textarea rows="2" name="xray[couts25]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH25]" value="<%= xray.A_CPH25 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH025" name="P_CPH025"  ></label></td>
            </tr>
            </tr>


            <!-- 26.Unknown Language -->
            <tr>
              <th >Unknown Language </th>
              
             
              <td>
                <input
                  name="xray[A_Vol26]"
                  id="kcvp2"
                  onkeyup="kcvp();"
                  value="<%= xray.A_Vol26 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              
              <td>
                <input
                  name="xray[A_HCount26]"
                  id="kcvpHCount2"
                  onkeyup="kcvpHCount();"
                  value="<%= xray.A_HCount26 %>"
                  class="form-control"
                  type="text"
                />
              </td>

              <td><input type="text"  class="form-control" name="xray[accuracy26]" ></td>
              <td><textarea rows="2" name="xray[couts26]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH26]" value="<%= xray.A_CPH26 %>" class="form-control" ></td>
              <td><label   for="week"  id="P_CPH026" name="P_CPH026"  ></label></td>
            </tr>
            </tr>

            <!-- 27.Switcheroo  -->
            
            <tr>
              <th >Switcheroo</th>
             
              

              <td>
                <input
                  name="xray[A_Vol27]"
                  id="kcvp3"
                  onkeyup="kcvp();"
                  value="<%= xray.A_Vol27 %>"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="xray[A_HCount27]"
                  id="kcvpHCount3"
                  onkeyup="kcvpHCount();"
                  value="<%= xray.A_HCount27 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy27]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts27]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH27]" value="<%= xray.A_CPH27 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH027" name="P_CPH027"  ></label></td>
            </tr>
            </tr>



            <!-- 28.Fixed Layout  -->
            
            <tr>
              <th>Fixed Layout   </th>
              
              

              <td>
                <input
                  name="xray[A_Vol28]"
                  id="kcvp4"
                  onkeyup="kcvp();"
                  class="form-control"
                  value="<%= xray.A_Vol28 %>"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="xray[A_HCount28]"
                  id="kcvpHCount4"
                  onkeyup="kcvpHCount();"
                  value="<%= xray.A_HCount28 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="xray[accuracy28]"  class="form-control"></td>
              <td><textarea rows="2" name="xray[couts28]"></textarea></td>
              <td><input type="text"   name="xray[A_CPH28]" value="<%= xray.A_CPH28 %>" class="form-control"  ></td>
              <td><label   for="week"  id="P_CPH028" name="P_CPH028"  ></label></td>
            </tr>
            </tr>



          


          </thead>
        </table>

        <div class="form-group">
          <button class="ui basic large blue  button">Update!</button>
        </div>
      </form>

      <a href="/xray">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>