
<% include ../partials/header %>

<div class="container card text-center">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#insta">ITB , 2019</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#face">ITB, 2020 </a>
          </li>
          
      </ul>
  </div>
  
  <div class="tab-content card-body">
      <div id="insta" class="tab-pane active"> <caption>
        <h2 class="team" > ITB Reports  , Year:2019 </h2>
      </caption> <table class="ui fixed inverted single line celled table">
        <thead>
          <tr>
            <th>Quaterly</th>
            <th>Monthly</th>
            <th colspan="5">Weekly</th>
          </tr>
        </thead>
        
        <tr>
          <td class="quaterly" rowspan="3"><a href="/campgrounds/q3" target="0">Q3</a></td>
          <td class="month">
            <a  data-toggle="tab" href="/campgrounds/july">July
          </td>
          <td> 
            <% campgrounds.forEach(function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W27"  ){  %>
               <a  href="/campgrounds/<%= itbMetric._id %>" target="0" > Week 27 </a>
              <% }  %> 
            <% }) %>
          </td>
        
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W28" ){  %>
                <a  href="/campgrounds/<%= itbMetric._id %>"  target="0" > Week 28 </a>
              <% }  %> 
            <% })  %> 
          </td>
          
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W29" ){  %>
               <a  href="/campgrounds/<%= itbMetric._id %>"  target="0" > Week 29 </a>
              <% }  %> 
            <% }) %>
          </td>
          <td> 
            <% campgrounds.forEach(function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W30" ){  %>
                <a href="/campgrounds/<%= itbMetric._id %>" target="0" > Week 30 </a>
              <% }  %> 
            <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W31" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0" > Week 31 </a>
            <% }  %> 
            <% })  %> 
          </td>
        </tr>
      
        <tr>
          <td class="month"><a  data-toggle="tab" href="/campgrounds/aug" > August </a></td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W32" ){  %>
              <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 32 </a>
              <% }  %>
            <% })  %> 
          </td>
          
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W33" ){  %>
              <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 33 </a>
            <% }  %> 
          <% })  %> 
          </td>
    
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W34" ){  %>
              <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 34 </a>
             <% }  %> 
           <% })  %> 
          </td>
    
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W35" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 35 </a>
          <% }  %> 
          <% })  %> 
          </td>
        </tr>
        <tr>
          <td class="month"><a  data-toggle="tab" href="/campgrounds/sep"  > September </a></td>
          <td>
    
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W36" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 36 </a>
          <% }  %>
          <% })  %>
          </td>
    
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
              <% if(itbMetric.week == "2019-W37" ){  %>
              <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 37 </a>
              <% }  %> 
            <% })  %> 
          </td>
    
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W38" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 38 </a>
          <% }  %> 
          <% })  %> 
          </td>
    
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W39" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 39 </a>
          <% }  %> 
          <% })  %> 
          </td>
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W40" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 40 </a>
          <% }  %> 
          <% })  %> 
          </td>
        </tr>
        <tr>
          <td class="quaterly" rowspan="3">Q4</td>
          <td class="month"><a  data-toggle="tab" href="/campgrounds/oct"  > October </a></td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W41" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 41 </a>
          <% }  %> 
          <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W42" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 42 </a>
          <% }  %> 
          <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W43" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>" target="0"  > Week 43 </a>
          <% }  %> 
           <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W44" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  target="0" > Week 44 </a>
          <% }  %> 
           <% })  %> 
          </td>
        </tr>
      
        <tr>
          <td class="month"><a  data-toggle="tab" href="/campgrounds/nov"  > November </a></td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W45" && itbMetric.team =="ITB"  ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"   > Week 45 </a>
          <% }  %> 
           <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W46" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 46 </a>
          <% }  %> 
          <% })  %> 
          </td>
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W47" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 47 </a>
          <% }  %> 
          <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W48" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 48 </a>
          <% }  %> 
          <% })  %> 
          </td>
        </tr>
        <tr>
          <td class="month"><a  data-toggle="tab" href="/campgrounds/dec"  > December </a></td>
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W49" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 49 </a>
            <% }  %> 
            <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W50" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 50 </a>
            <% }  %>  
            <% })  %> 
          </td>
          <td> 
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W51" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 51 </a>
            <% }  %> 
            <% })  %> 
          </td>
          <td>
            <% campgrounds.forEach( function(itbMetric) {  %>
            <% if(itbMetric.week == "2019-W52" ){  %>
            <a  href="/campgrounds/<%= itbMetric._id %>"  > Week 52 </a>
          <% }  %>
          <% })  %>
    
          </td>
        </tr>
      </table></div>
      <div id="face" class="tab-pane">
        <caption>
          <h2 class="team" > ITB Reports  , Year:2020 </h2>
        </caption>
        <h4 class="ui big basic red button ">WORK IN PROGRESS</h4>
        <table class="ui fixed inverted single line celled table">
          <thead>
            <tr>
              <th>Quaterly</th>
              <th>Monthly</th>
              <th colspan="5">Weekly</th>
            </tr>
          </thead>
          
        </table>
        
      </div>
      
  </div>
</div>

<style>
  table {
    width: 40%;
    height: 300px;
  }
  a:hover {
    background: rgb(66, 65, 65);
  }

  th,
  tr,
  td,
  table {
    height: 3.5rem;
    border: 2px solid wheat;
    text-align: center;
  }
  
  td:hover{
    background-color: #444;
    color: #f4f4f4;
   
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 2s ease-out;
  }

  .nav-item{
  
    
    font-size: large;
  }
  .nav-link{
    color: black;
  }
  .nav-item:hover{
    background-color: black;
    color: #f4f4f4;
    cursor: pointer;
    
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 2s ease-out;
  }

  .quaterly {
    font-size: 2rem;
   
  }
  .month {
    text-align: center;
    font-size: 1.4rem;
  }
  thead {
    text-align: center;
  }
  a{
    color:rgb(229, 231, 223)
  }
 
</style>

<div class="container">
<div  >
  
 
  <hr>
  <div class="right floated right aligned six wide column buttons">
    <a
      class="ui floated big basic blue button" href="/campgrounds/itb"> <i class="add icon"></i> <b> Create New Metrics <em> </b>
    </a>
  </div>
  </div>
</div>
