 
<link
rel="stylesheet"
type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container" >
    <div class="thumbnail">
       
        <div class="caption-full">





         
          <h2 class="ui basic big green label "> 3rd Quarter, 2019: </i></h2>
            
          <table class="ui celled  striped table " id="myTable">
            <thead>
              <tr>
                <th>
                 
                </th>
                <th class="ui center aligned header" colspan="3">Planned  </th>
                <th class="ui center aligned header" colspan="3">Actual </th>
                <th class="ui center aligned header" colspan="3">Variance </th>
                <th class="ui center aligned header" colspan="1">Call Outs  </th>
                
                <th class="ui center aligned header" colspan="1">Accuracy  </th>
          
              </tr>
              <tr>
                <th class="ui center aligned ">  Metrics Title</th>
                  <th>Volume</th>
                  <th>Head Count</th>
                  <th>Productivity</th>
                  <th>Volume</th>
                  <th>Head Count</th>
                  <th>Productivity</th>
                  <th>Volume</th>
                  <th>Head Count</th>
                  <th>Productivity</th>
                  <th>Reason</th>
                   
                  <th>Accuracy in (%)</th>
                   
          
                  
          
              </tr>
            </thead>
            <tbody class="panel">
              <tr data-toggle="collapse" data-target="#demo1" class="ui center aligned header blue" data-parent="#myTable"> 
                <td></i>  Proactive (Fresh Audits)  <i class="right aligned small dropdown icon  "></i></td> 
               
               
              </tr>
          
              </tr>
              <tr id="demo1" class="collapse ">
                <th>Best Sellers</th>

               </tr>
              <tr id="demo1" class="collapse">
                <th>Pre-Orders</th>
                
              </tr>
          
              <tr id="demo1" class="collapse">
                <th>Big Books</th>
                
              </tr>
          
              <tr id="demo1" class="collapse">
                <th>Kindle Deals</th>
                
              </tr>
          
              <tr id="demo1" class="collapse">
                <th>Ad-hoc Requests / Escalation Audits</th>
               
              </tr>
          
              <tr id="demo1" class="collapse">
                <th>KU Page Violation Audits</th>
                
               </tr>
          
          
              <tr
              data-toggle="collapse"
              data-target="#demo03"
              data-parent="#myTable" class="ui center aligned header blue">
              <td >Reactive (Contacts)<i class="right aligned small dropdown icon  "></i></td>
              
            </tr>
            
          
          
          
            <tr id="demo03" class="collapse"> 
                  <td
                    data-toggle="collapse"
                    data-target="#demo09"
                    data-parent="#myTable"
                    class="ui  header subhead grey "
                  >
                  Andons & Regulars
                  </td>


            </tr>
          
          
          
            <tr id="demo03" class="collapse"> 
              
                  <td
                    data-toggle="collapse"
                    data-target="#demo010"
                    data-parent="#myTable"
                    class="ui  header subhead grey "
                    
                  >
                  
                  <i class="small dropdown icon"></i>Report Content Errors 
                  
                  </td>
                  </tr>
                  <tr id="demo010" class="collapse">
                    <th>English (High-value titles to be considered by Ops)</th>
                  </tr>
                  <tr id="demo010" class="collapse">
                    <th >German</th>
                     
                  </tr>
                 
            </tr>
          
          
            <tr id="demo03" class="collapse"> 
              <td
                data-toggle="collapse"
                data-target="#demo09"
                data-parent="#myTable" class="ui  header subhead grey "
              >
              Customer Review
              </td>
              
            </tr>
          
            <tr id="demo03" class="collapse"> 
              <td
                data-toggle="collapse"
                data-target="#demo09"
                data-parent="#myTable" class="ui  header subhead grey"
              >
              Massmail Tickets
              </td>

             </tr>
          
          
          <tr id="demo03" class="collapse"> 
            <td
              data-toggle="collapse"
              data-target="#demo011"
              data-parent="#myTable" class="ui  header subhead grey"
            >
            <i class="small dropdown icon"></i>
            Publisher Response
            </td>
         </tr>
            <tr id="demo011" class="collapse">
              <td class="hiddenRow"><div>Submitted Corrections</div></td>
              
            </tr>
            <tr id="demo011" class="collapse">
              <td class="hiddenRow"><div>Queries + Escalations</div></td>
              
            </tr>
          
           
           
          </tr>
          
          
          
          
                  <!-- =======================================   REWORK  ======================================== -->
                 
          
              <tr data-toggle="collapse" data-target="#demo3"  class="ui center aligned header blue" data-parent="#myTable">
                <td >  Rework <i class="right aligned  small dropdown icon "></i> </td>
                
               </tr>
          
              </tr>
              <tr id="demo3" class="collapse">
                <th>Rework Blocking</th>
                
               </tr>
              <tr id="demo3" class="collapse">
                <th>Rework CFQI</th>
                
               </tr>
              <tr id="demo3" class="collapse">
                <th>Rework Non-Blocking</th>
                </tr>
          
          
              <tr data-toggle="collapse" data-target="#demo4"  class="ui center aligned header blue" data-parent="#myTable">
                <td>  KCVP Detections <i class="left aligned  small dropdown icon "></i>	</td>
                
               </tr>
          
              </tr>
          
              <tr id="demo4" class="collapse">
                <th> Language Mismatch</th>
               
               </tr>
              <tr id="demo4" class="collapse">
                <th> Unknown Language</th>
                
               </tr>
              <tr id="demo4" class="collapse">
                <th> Switcheroo </th>
                
               </tr>
              <tr id="demo4" class="collapse">
                <th> Fixed Layout </th>
               
               </tr>
          
          
              
              <tr data-toggle="collapse" data-target="#demo5"  class="ui center aligned header blue" data-parent="#myTable">
                <td> Content Testing	</td>
                
              </tr>
             
          
              <tr data-toggle="collapse" data-target="#demo6"  class="ui center aligned header blue" data-parent="#myTable">
                <td>KDP Cover Gen	</td>
                
              </tr>
              
              
              <tr data-toggle="collapse" data-target="#demo7"  class="ui center aligned header blue" data-parent="#myTable">
                <td>Author Fix-up	</td>
               </tr>
              
          
              <tr data-toggle="collapse" data-target="#demo8" class="ui center aligned header blue" data-parent="#myTable">
                <td>All Field Audit	</td>
               </tr>
             
          
          
          
              </tbody>
            </table>
           






























          <!-- ============================= Q3 TABLE =================== -->



          <% var sum = 0 %>
          <% monthITB.forEach( function(itbMetrics, index) {  %>
              <%= console.log() %>
          <% }) %>
          <%= console.log("sum ="+sum/5 )%>
        <p>sum: (<%= sum  %> )avg: (<%= sum/5  %> )<p>

        <table class="ui celled structured striped table">
        <thead>
          <tr>
            <th>
              
              
            </th>
            <th class="ui center aligned header" colspan="3">Planned</th>
            <th class="ui center aligned header" colspan="4">Actual</th>
          </tr>

          <tr>
            <th class="ui center aligned ">Title</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Call outs</th>
          </tr>

          <tr>
            <th class="ui center aligned header blue" >Proactive (Fresh Audits)</th>
            <td>5456</td>
            <td>3.92</td>
            <td>23.2</td>
            <td>
              


            <% var sum1 = 0 %>
            <% monthITB.forEach( function(itbMetrics) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>

                <% var add = itbMetrics.A_Vol1  %>
                    
                    <% sum1 = sum1 + add %>
                    <%= console.log(add )%>
                <% }  %>
              <% }) %>
              <%= console.log("sum1 ="+sum1/5 )%>
              <p><%= sum1/5  %> <p>

          </td>
            <td>
              <% var sum2 = 0 %>
              <% monthITB.forEach( function(itbMetrics) {  %>
                <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>     
                 <% var add = itbMetrics.A_HCount1  %>
                     
                     <% sum2 = sum2 + add %>
                     <%= console.log(add )%>
                  <% }  %>
               <% }) %>
               <%= console.log("sum2 ="+sum2/5 )%>
               <p><%= sum2/5  %> <p>
             
            </td>
            <td> 

              <%= sum1/sum2/5 %>
            </td>
            <td> </td>
          </tr>


          <tr>
            <th>Best Sellers</th>
            <td>600</td>
            <td>.52</td>
            <td>
              23.2
            </td>
            <td>
              <% var sum3 = 0 %>
              <% monthITB.forEach( function(itbMetrics, index) {  %>
                <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>     
                 <% var add = itbMetrics.A_Vol2  %>
                     
                     <% sum3 = sum3 + add %>
                     <%= console.log(add )%>
                  <% }  %>
               <% }) %>
               <%= console.log("sum3 ="+sum3/5 )%>
               <p><%= sum3/5  %> <p>
             
            </td>
            <td>
              <% var sum4 = 0 %>
              <% monthITB.forEach( function(itbMetrics, index) {  %>
                <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>     
                 <% var add = itbMetrics.A_HCount2  %>
                     
                     <% sum4 = sum4 + add %>
                     <%= console.log(add )%>
                  <% }  %>
               <% }) %>
               <%= console.log("sum4 ="+sum4/5 )%>
               <p><%= sum4/5  %> <p>
             
            </td>
            <td> <%= sum3/sum4/5 %></td>
            <td></td>
          </tr>



          <!-- Pre orderds -->
          <tr>
            <th>Pre-Orders</th>
            <td>2024</td>
            <td>1.21</td>
            <td>33.4</td>
            <td><% var sum5 = 0 %>
              <% monthITB.forEach( function(itbMetrics, index) {  %>
                <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>     
                 <% var add = itbMetrics.A_Vol3  %>
                     
                     <% sum5 = sum5 + add %>
                     <%= console.log(add )%>
                  <% }  %>
               <% }) %>
               <%= console.log("sum5 ="+sum5/5 )%>
               <p><%= sum5/5  %> <p></td>
            
            <td>
              <% var sum6 = 0 %>
              <% monthITB.forEach( function(itbMetrics, index) {  %>
                <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>     
                 <% var add = itbMetrics.A_HCount3  %>
                     
                     <% sum6 = sum6 + add %>
                     <%= console.log(add )%>
                  <% }  %>
               <% }) %>
               <%= console.log("sum6 ="+sum6/5 )%>
               <p><%= sum6/5  %> <p>
            </td>
            <td><%= sum5/sum6/5%></td>
            <td></td>
          </tr>

        <!-- Big Books -->
        <tr>
          <th>Big Books</th>
          <td>2024</td>
          <td>1.21</td>
          <td>33.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol4  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount4  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <!-- Kindle Deals -->
        <tr>
          <th>Kindle Deals</th>
          <td>2024</td>
          <td>1.21</td>
          <td>33.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol5  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount5  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <!-- Ad-hoc Requests / Escalation Audits	 -->
        <tr>
          <th>Ad-hoc Requests / Escalation Audits	</th>
          <td>2024</td>
          <td>1.21</td>
          <td>33.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol6  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount6  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>


        <!-- KU Page Violation Audits	 -->
        <tr>
          <th>KU Page Violation Audits	</th>
          <td>2024</td>
          <td>1.21</td>
          <td>33.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol7  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount7  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <!-- Reactive (Contacts) -->
        <tr>
          <th class="ui center aligned header blue" >Reactive (Contacts)	</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol8  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount8  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>


        <tr>
          <th  >Andons & Regulars		</th>
          <td>2024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol9  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount9  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>



        <tr>
          <th  >Report Content Errors	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol10  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount10  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        
        <tr>
          <th  >English	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol11  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount11  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>


        <tr>
          <th  >English (High-value titles to be considered by Ops)		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol12  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount12  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >German	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol13  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount13  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >French	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol14  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
              <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount14  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Customer Reviews		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol15  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount15  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Massmail Tickets		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol16  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount16  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Publisher Response	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol17  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount17  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Submitted Corrections	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol18  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount18  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Queries + Escalations		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol19  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount19  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th class="ui center aligned header blue" >Rework	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol20  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount20  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

     
        <tr>
          <th  >Rework Blocking		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol21  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount21  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>
        
        <tr>
          <th  >Rework CFQI			</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol22  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount22  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th  >Rework Non-Blocking		</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol23  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount23  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>

        <tr>
          <th class="ui center aligned header blue" >KCVP Detections	</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol24  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount24  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>

          
        </tr>



        <tr>
          <th  >Language Mismatch	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol25  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount25  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>




        <tr>
          <th  >Unknown Language	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol26  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount26  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>


        <tr>
          <th >Switcheroo	</th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol27  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount27  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>



        <tr>
          <th >	Fixed Layout	 </th>
          <td>1024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol28  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount28  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>
          <td></td>
        </tr>


        <tr>
          <th class="ui center aligned header blue" >Content Testing	</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
<% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_Vol29  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
          <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31" || itbMetrics.week == "2019-W32"|| itbMetrics.week == "2019-W33" || itbMetrics.week == "2019-W34" || itbMetrics.week == "2019-W35" || itbMetrics.week == "2019-W36" || itbMetrics.week == "2019-W37" || itbMetrics.week == "2019-W38" || itbMetrics.week == "2019-W39" || itbMetrics.week == "2019-W40"    ){   %>   
               <% var add = itbMetrics.A_HCount29  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>

          
        </tr>



        <tr>
          <th class="ui center aligned header blue" >KDP Cover Gen		</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_Vol30  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_HCount30  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>

          
        </tr>



        
        <tr>
          <th class="ui center aligned header blue" >Author Fix-up			</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_Vol31  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_HCount31  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>

          
        </tr>



         
        <tr>
          <th class="ui center aligned header blue" >All Field Audit				</th>
          <td>3024</td>
          <td>3.21</td>
          <td>32.4</td>
          <td><% var sum5 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_Vol32  %>
                   
                   <% sum5 = sum5 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum5 ="+sum5/5 )%>
             <p><%= sum5/5  %> <p></td>
          
          <td>
            <% var sum6 = 0 %>
            <% monthITB.forEach( function(itbMetrics, index) {  %>
             <% if( itbMetrics.week == "2019-W27" || itbMetrics.week == "2019-W28" || itbMetrics.week == "2019-W29" || itbMetrics.week == "2019-W30"  || itbMetrics.week == "2019-W31"   ){   %>
   
               <% var add = itbMetrics.A_HCount32  %>
                   
                   <% sum6 = sum6 + add %>
                   <%= console.log(add )%>
                <% }  %>
             <% }) %>
             <%= console.log("sum6 ="+sum6/5 )%>
             <p><%= sum6/5  %> <p>
          </td>
          <td><%= sum5/sum6/5%></td>

          
        </tr>


      </table>
            </div>

        </div>
      
    </div>

</div>



<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>



<% include ../partials/footer %>



