<table class="ui celled structured striped table table-condensed" id="myTable">
    <thead>
      <tr>
        <th>
          <h4><%= campground.week %></h4>
        </th>
        <th class="ui center aligned header" colspan="3">Planned  </th>
        <th class="ui center aligned header" colspan="3">Actual </th>
        <th class="ui center aligned header" colspan="3">Variance </th>
        <th class="ui center aligned header" colspan="1">Call Outs  </th>
      </tr>
      <tr>
        <th class="ui center aligned ">  Metrics Title</th>
          <th>Volume</th>
          <th>Head Count</th>
          <th>Productivity</th>
          <th>Volume</th>
          <th>Head Count</th>
          <th>Productivity</th>
          <th>Volume</th>
          <th>Head Count</th>
          <th>Productivity</th>
          <th>Reason</th>
          

      </tr>
    </thead>
    <tbody class="panel">
      <tr data-toggle="collapse" data-target="#demo1" class="ui center aligned header blue" data-parent="#myTable">
        <td>Proactive (Fresh Audits)</td>
        <td ><b><%= week_v1 %></b></td>
        <td> <b><%= week_hc1 %></b> </td>
        <td>  
          <% var fix_Pprod1= (week_v1 / week_hc1)/7 %>  
           <b><%=fix_Pprod1.toFixed(2) %></b>  
        </td> 


        <td><b><%= campground.A_Vol1.toFixed(2) %></b></td> 
        <td><b><%= campground.A_HCount1.toFixed(2) %></b></td>

        <td>
          <% var fix_Aprod1  = (campground.A_Vol1/ campground.A_HCount1)/7 %>
          <b><%=  fix_Aprod1.toFixed(2) %></b>
        </td>
         <!-- variance -->
         <% var vol_variance1= (((campground.A_Vol1 - week_v1)/week_v1)*100).toFixed()  %>
         <% var HCount_variance1= (((campground.A_HCount1 - week_hc1)/week_hc1)*100).toFixed()  %>
         <% var Prod_variance1= (((fix_Aprod1 - fix_Pprod1)/fix_Pprod1)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance1 >= -9  &&  vol_variance1 <= 9 ) {   %>
          <td   >
            <%= vol_variance1 %> % 
          </td>
        <%  } else if( vol_variance1 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance1 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance1 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->

        <% if( HCount_variance1 >= -9  &&  HCount_variance1 <= 9 ) {   %>
          <td   >
            <%= HCount_variance1 %> %
          </td>
        <%  } else if( HCount_variance1 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance1 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance1 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->

        <% if( Prod_variance1 >= -9  &&  Prod_variance1 <= 9 ) {   %>
          <td   >
            <%= Prod_variance1 %> %
          </td>
        <%  } else if( Prod_variance1 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance1 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance1 %> %
            </td>
        <% } %>

        <td><%= campground.couts1 %></td>

      </tr>

      </tr>
      <tr id="demo1" class="collapse ">
        <th>Best Sellers</th>
        <td><%= week_v2 %></td>   
          <td><%= week_hc2 %></td>  
          <td>  
            <% var fix_Pprod2= (week_v2 / week_hc2)/7 %>  
            <%=  fix_Pprod2.toFixed(2) %> 
          </td> 


          <td><%= campground.A_Vol2 %></td> 
          <td><%= campground.A_HCount2 %></td>

          <td>
            <% var fix_Aprod2  = (campground.A_Vol2/ campground.A_HCount2)/7 %>
            <%=  fix_Aprod2.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance2= (((campground.A_Vol2 - week_v2)/week_v2)*100).toFixed()  %>
           <% var HCount_variance2= (((campground.A_HCount2 - week_hc2)/week_hc2)*100).toFixed()  %>
           <% var Prod_variance2= (((fix_Aprod2 - fix_Pprod2)/fix_Pprod2)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance2 >= -9  &&  vol_variance2 <= 9 ) {   %>
            <td   >
              <%= vol_variance2 %> %
            </td>
          <%  } else  if( vol_variance2 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance2 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance2 %>  %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance2 >= -9  &&  HCount_variance2 <= 9 ) {   %>
            <td   >
              <%= HCount_variance2 %> %
            </td>
          <%  } else  if( HCount_variance2 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance2 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance2 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance2 >= -9  &&  Prod_variance2 <= 9 ) {   %>
            <td   >
               <%= Prod_variance2 %> %
            </td>
          <%  } else  if( Prod_variance2 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance2 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance2 %> %
              </td>
          <% } %>
          <!-- call outs -->
          <td><%= campground.couts2 %></td>
      </tr>
      <tr id="demo1" class="collapse">
        <th>Pre-Orders</th>
        <td><%= week_v3 %></td> 
        <td><%= week_hc3 %></td>
        <td>  
          <% var fix_Pprod3= (week_v3 / week_hc3)/7 %>  
          <%=  fix_Pprod3.toFixed(2) %> 
        </td> 


        <td><%= campground.A_Vol3 %></td> 
        <td><%= campground.A_HCount3 %></td>

        <td>
          <% var fix_Aprod3  = (campground.A_Vol3/ campground.A_HCount3)/7 %>
          <%=  fix_Aprod3.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance3= (((campground.A_Vol3 - week_v3)/week_v3)*100).toFixed()  %>
         <% var HCount_variance3= (((campground.A_HCount3 - week_hc3)/week_hc3)*100).toFixed()  %>
         <% var Prod_variance3= (((fix_Aprod3 - fix_Pprod3)/fix_Pprod3)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance3 >= -9  &&  vol_variance3 <= 9 ) {   %>
          <td   >
            <%= vol_variance3 %> % 
          </td>
        <%  } else  if( vol_variance3 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance3 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance3 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance3 >= -9  &&  HCount_variance3 <= 9 ) {   %>
          <td   >
            <%= HCount_variance3 %> %
          </td>
        <%  } else  if( HCount_variance3 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance3 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance3 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance3 >= -9  &&  Prod_variance3 <= 9 ) {   %>
          <td   >
            <%= Prod_variance3 %> %
          </td>
        <%  } else  if( Prod_variance3 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance3 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance3 %> %
            </td>
        <% } %>

        <!-- call outs -->
        <td><%= campground.couts3 %></td>

      </tr>

      <tr id="demo1" class="collapse">
        <th>Big Books</th>
        <td><%= week_v4 %></td> 
          <td><%= week_hc4 %></td>
          <td>  
            <% var fix_Pprod4= (week_v4 / week_hc4)/7 %>  
            <%=  fix_Pprod4.toFixed(2) %> 
          </td> 


          <td><%= campground.A_Vol4 %></td> 
          <td><%= campground.A_HCount4 %></td>

          <td>
            <% var fix_Aprod4  = (campground.A_Vol4/ campground.A_HCount4)/7 %>
            <%=  fix_Aprod4.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance4= (((campground.A_Vol4 - week_v4)/week_v4)*100).toFixed()  %>
           <% var HCount_variance4= (((campground.A_HCount4 - week_hc4)/week_hc4)*100).toFixed()  %>
           <% var Prod_variance4= (((fix_Aprod4 - fix_Pprod4)/fix_Pprod4)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance4 >= -9  &&  vol_variance4 <= 9 ) {   %>
            <td   >
              <%= vol_variance4 %> % 
            </td>
          <%  }else  if( vol_variance4 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance4 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance4 %> %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance4 >= -9  &&  HCount_variance4 <= 9 ) {   %>
            <td   >
              <%= HCount_variance4 %> %
            </td>
          <%  }else  if( HCount_variance4 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance4 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance4 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance4 >= -9  &&  Prod_variance4 <= 9 ) {   %>
            <td   >
              <%= Prod_variance4 %> %
            </td>
          <%  }else  if( Prod_variance4 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance4 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance4 %> %
              </td>
          <% } %>

          <!-- call outs -->
          <td><%= campground.couts4 %></td>
      </tr>

      <tr id="demo1" class="collapse">
        <th>Kindle Deals</th>
        <td><%= week_v5 %></td> 
        <td><%= week_hc5 %></td>
        <td>  
          <% var fix_Pprod5= (week_v5 / week_hc5)/7 %>  
          <%=  fix_Pprod5.toFixed(2) %> 
        </td> 


        <td><%= campground.A_Vol5 %></td> 
        <td><%= campground.A_HCount5 %></td>

        <td>
          <% var fix_Aprod5  = (campground.A_Vol5/ campground.A_HCount5)/7 %>
          <%=  fix_Aprod5.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance5= (((campground.A_Vol5 - week_v5)/week_v5)*100).toFixed()  %>
         <% var HCount_variance5= (((campground.A_HCount5 - week_hc5)/week_hc5)*100).toFixed()  %>
         <% var Prod_variance5= (((fix_Aprod5 - fix_Pprod5)/fix_Pprod5)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance5 >= -9  &&  vol_variance5 <= 9 ) {   %>
          <td   >
            <%= vol_variance5 %> % 
          </td>
        <%  }else  if( vol_variance5 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance5 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance5 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance5 >= -9  &&  HCount_variance5 <= 9 ) {   %>
          <td   >
            <%= HCount_variance5 %> %
          </td>
        <%  }else  if( HCount_variance5 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance5 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance5 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance5 >= -9  &&  Prod_variance5 <= 9 ) {   %>
          <td   >
            <%= Prod_variance5 %> %
          </td>
        <%  }else  if( Prod_variance5 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance5 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance5 %> %
            </td>
        <% } %>
        <!-- call outs -->
        <td><%= campground.couts5 %></td>
      </tr>

      <tr id="demo1" class="collapse">
        <th>Ad-hoc Requests / Escalation Audits</th>
        <td><%= week_v6 %></td> 
          <td><%= week_hc6 %></td>
          <td>  
            <% var fix_Pprod6= (week_v6 / week_hc6)/7 %>  
            <%=  fix_Pprod6.toFixed(2) %> 
          </td> 


          <td><%= campground.A_Vol6 %></td> 
          <td><%= campground.A_HCount6 %></td>

          <td>
            <% var fix_Aprod6  = (campground.A_Vol6/ campground.A_HCount6)/7 %>
            <%=  fix_Aprod6.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance6= (((campground.A_Vol6 - week_v6)/week_v6)*100).toFixed()  %>
           <% var HCount_variance6= (((campground.A_HCount6 - week_hc6)/week_hc6)*100).toFixed()  %>
           <% var Prod_variance6= (((fix_Aprod6 - fix_Pprod6)/fix_Pprod6)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance6 >= -9  &&  vol_variance6 <= 9 ) {   %>
            <td   >
              <%= vol_variance6 %> % 
            </td>
          <%  }else  if( vol_variance6 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance6 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance6 %> %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance6 >= -9  &&  HCount_variance6 <= 9 ) {   %>
            <td   >
              <%= HCount_variance6 %> %
            </td>
          <%  }else  if( HCount_variance6 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance6 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance6 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance6 >= -9  &&  Prod_variance6 <= 9 ) {   %>
            <td   >
              <%= Prod_variance6 %> %
            </td>
          <%  }else  if( Prod_variance6 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance6 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance6 %> %
              </td>
          <% } %>
          <!-- call outs -->
          <td><%= campground.couts6 %></td>
      </tr>

      <tr id="demo1" class="collapse">
        <th>KU Page Violation Audits</th>
        <td><%= week_v7 %></td> 
          <td><%= week_hc7 %></td>
          <td>  
            <% var fix_Pprod7= (week_v7 / week_hc7)/7 %>  
            <%=  fix_Pprod7.toFixed(2) %> 
          </td> 


          <td><%= campground.A_Vol7 %></td> 
          <td><%= campground.A_HCount7 %></td>

          <td>
            <% var fix_Aprod7  = (campground.A_Vol7/ campground.A_HCount7)/7 %>
            <%=  fix_Aprod7.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance7= (((campground.A_Vol7 - week_v7)/week_v7)*100).toFixed()  %>
           <% var HCount_variance7= (((campground.A_HCount7 - week_hc7)/week_hc7)*100).toFixed()  %>
           <% var Prod_variance7= (((fix_Aprod7 - fix_Pprod7)/fix_Pprod7)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance7 >= -9  &&  vol_variance7 <= 9 ) {   %>
            <td   >
              <%= vol_variance7 %> % 
            </td>
          <%  } else  if( vol_variance7 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance7 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance7 %> %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance7 >= -9  &&  HCount_variance7 <= 9 ) {   %>
            <td   >
              <%= HCount_variance7 %> %
            </td>
          <%  } else  if( HCount_variance7 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance7 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance7 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance7 >= -9  &&  Prod_variance7 <= 9 ) {   %>
            <td   >
              <%= Prod_variance7 %> %
            </td>
          <%  } else  if( Prod_variance7 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance7 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance7 %> %
              </td>
          <% } %>
          <!-- call outs -->
            <td><%= campground.couts7 %></td>
      </tr>

      <tr data-toggle="collapse" data-target="#demo2"  class="ui center aligned header blue"  data-parent="#myTable">
        <td>Reactive (Contacts)</td>
        <td><b><%= week_v8 %></b></td> 
            <td> <b><%= week_hc8 %></b> </td>
            <td>  
              <% var fix_Pprod8= (week_v8 / week_hc8)/7 %>  
              <b><%=  fix_Pprod8.toFixed(2) %></b> 
            </td> 
            
            <td><b><%= campground.A_Vol8 %></b></td> 
            <td><b><%= campground.A_HCount8 %></b></td>

            <td>
              <% var fix_Aprod8  = (campground.A_Vol8/ campground.A_HCount8)/7 %>
              <b><%=  fix_Aprod8.toFixed(2) %></b>
            </td>
             <!-- variance -->
             <% var vol_variance8= (((campground.A_Vol8 - week_v8)/week_v8)*100).toFixed()  %>
             <% var HCount_variance8= (((campground.A_HCount8 - week_hc8)/week_hc8)*100).toFixed()  %>
             <% var Prod_variance8= (((fix_Aprod8 - fix_Pprod8)/fix_Pprod8)*100).toFixed() %>
             <!-- Volume variance -->
             <% if( vol_variance8 >= -9  &&  vol_variance8 <= 9 ) {   %>
              <td   >
                <%= vol_variance8 %> % 
              </td>
            <%  }else  if( vol_variance8 > 10 ) {  %>
              <td  class="positive"   >
                <%= vol_variance8 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= vol_variance8 %> %
                </td>
            <% } %>
            
            <!-- HCount  variance -->
            <% if( HCount_variance8 >= -9  &&  HCount_variance8 <= 9 ) {   %>
              <td   >
                <%= HCount_variance8 %> %
              </td>
            <%  }else  if( HCount_variance8 > 10 ) {  %>
              <td  class="positive"   >
                <%= HCount_variance8 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= HCount_variance8 %> %
                </td>
            <% } %>

            <!-- Prod Variance -->
            <% if( Prod_variance8 >= -9  &&  Prod_variance8 <= 9 ) {   %>
              <td   >
                <%= Prod_variance8 %> %
              </td>
            <%  }else  if( Prod_variance8 > 10 ) {  %>
              <td  class="positive"   >
                <%= Prod_variance8 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= Prod_variance8 %> %
                </td>
            <% } %>
          <!-- call outs -->
            <td><%= campground.couts8 %></td>
        </tr>

      </tr>
      <tr id="demo2" class="collapse">
        <td class="ui  header subhead grey ">Andons & Regulars	</td>
      </tr>
      
      <tr id="demo2" class="collapse">
        <td class="ui  header subhead grey ">Report Content Errors</td>
      </tr>

      <tr id="demo2" class="collapse">
        <td class="ui  header subhead grey ">Customer Reviews</td>
      </tr>

      <tr id="demo2" class="collapse">
        <td class="ui  header subhead grey ">Massmail Tickets	</td>
      </tr>

      <tr id="demo2" class="collapse">
        <td class="ui  header subhead grey ">Publisher Response	</td>
      </tr>


      <tr data-toggle="collapse" data-target="#demo3"  class="ui center aligned header blue" data-parent="#myTable">
        <td>Rework</td>
        <td><b><%= week_v20  %></b></td> 
        <td><b><%= week_hc20 %></b></td>
        
        <td>  
          <% var fix_Pprod20= (week_v20 / week_hc20)/7 %>  
          <b><%=  fix_Pprod20.toFixed(2) %></b> 
        </td> 
        
        <td> <b><%= campground.A_Vol20 %></b></td> 
        <td> <b><%= campground.A_HCount20 %></b></td>

        <td>
          <% var fix_Aprod20  = (campground.A_Vol20/ campground.A_HCount20)/7 %>
          <b></b><%=  fix_Aprod20.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance20= (((campground.A_Vol20 - week_v20)/week_v20)*100).toFixed()  %>
         <% var HCount_variance20= (((campground.A_HCount20 - week_hc20)/week_hc20)*100).toFixed()  %>
         <% var Prod_variance20= (((fix_Aprod20 - fix_Pprod20)/fix_Pprod20)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance20 >= -9  &&  vol_variance20 <= 9 ) {   %>
          <td   >
            <%= vol_variance20 %> % 
          </td>
        <%  }else if( vol_variance20 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance20 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance20 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance20 >= -9  &&  HCount_variance20 <= 9 ) {   %>
          <td   >
            <%= HCount_variance20 %> %
          </td>
        <%  }else if( HCount_variance20 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance20 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance20 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance20 >= -9  &&  Prod_variance20 <= 9 ) {   %>
          <td   >
            <%= Prod_variance20 %> %
          </td>
        <%  }else if( Prod_variance20 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance20 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance20 %> %
            </td>
        <% } %>





      <!-- call outs --> 
        <td><%= campground.couts20 %></td>
    </tr>

      </tr>
      <tr id="demo3" class="collapse">
        <th>Rework Blocking</th>
      </tr>
      <tr id="demo3" class="collapse">
        <th>Rework CFQI</th>
      </tr>
      <tr id="demo3" class="collapse">
        <th>Rework Non-Blocking</th>
      </tr>
      
        
     
      

      <tr data-toggle="collapse" data-target="#demo4"  class="ui center aligned header blue" data-parent="#myTable">
        <td>KCVP Detections	</td>
        <td><b> <%= week_v24  %></b></td> 
            <td><b> <%= week_hc24 %></b></td>
            

            <td>
              <% var fix_Pprod24= (week_v24 / week_hc24)/7 %>  
              <b> <%=  fix_Pprod24.toFixed(2) %> </b> 
            </td> 
            
            <td><b><%= (campground.A_Vol24).toFixed(2) %></b></td> 
            <td><b><%= campground.A_HCount24 %></b></td>

            <td>
              <% var fix_Aprod24  = (campground.A_Vol24/ campground.A_HCount24)/7 %>
              <b><%=  fix_Aprod24.toFixed(2) %></b>
            </td>

             <!-- variance -->
             <% var vol_variance24= (((campground.A_Vol24 - week_v24)/week_v24)*100).toFixed()  %>
             <% var HCount_variance24= (((campground.A_HCount24 - week_hc24)/week_hc24)*100).toFixed()  %>
             <% var Prod_variance24= (((fix_Aprod24 - fix_Pprod24)/fix_Pprod24)*100).toFixed() %>

             <!-- Volume variance -->
             <% if( vol_variance24 >= -9  &&  vol_variance24 <= 9 ) {   %>
              <td   >
                <%= vol_variance24 %> % 
              </td>
            <%  } else if( vol_variance24 > 10 ) {  %>
              <td  class="positive"   >
                <%= vol_variance24 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= vol_variance24 %> %
                </td>
            <% } %>
            
            <!-- HCount  variance -->
            <% if( HCount_variance24 >= -9  &&  HCount_variance24 <= 9 ) {   %>
              <td   >
                <%= HCount_variance24 %> %
              </td>
            <%  } else if( HCount_variance24 > 10 ) {  %>
              <td  class="positive"   >
                <%= HCount_variance24 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= HCount_variance24 %> %
                </td>
            <% } %>

            <!-- Prod Variance -->
            <% if( Prod_variance24 >= -9  &&  Prod_variance24 <= 9 ) {   %>
              <td   >
                <%= Prod_variance24 %> %
              </td>
            <%  } else if( Prod_variance24 > 10 ) {  %>
              <td  class="positive"   >
                <%= Prod_variance24 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= Prod_variance24 %> %
                </td>
            <% } %>


          <!-- call outs --> 
            <td><%= campground.couts24 %></td>
        </tr>

      </tr>
      <tr id="demo4" class="collapse">
        <th> Language Mismatch</th>
      </tr>
      <tr id="demo4" class="collapse">
        <th> Unknown Language</th>
      </tr>
      <tr id="demo4" class="collapse">
        <th> Switcheroo </th>
      </tr>
      <tr id="demo4" class="collapse">
        <th> Fixed Layout </th>
      </tr>


      
      <tr data-toggle="collapse" data-target="#demo5"  class="ui center aligned header blue" data-parent="#myTable">
        <td>Content Testing	</td>
        <td><%= week_v29  %></td> 
            <td><%= week_hc29 %></td>
            

            <td>  
              <% var fix_Pprod29= (week_v29 / week_hc29)/7 %>  
              <%=  fix_Pprod29.toFixed(2) %> 
            </td> 
            
            <td><%= campground.A_Vol29 %></td> 
            <td><%= campground.A_HCount29 %></td>

            <td>
              <% var fix_Aprod29  = (campground.A_Vol29/ campground.A_HCount29)/7 %>
              <%=  fix_Aprod29.toFixed(2) %>
            </td>
             <!-- variance -->
             <% var vol_variance29= (((campground.A_Vol29 - week_v29)/week_v29)*100).toFixed()  %>
             <% var HCount_variance29= (((campground.A_HCount29 - week_hc29)/week_hc29)*100).toFixed()  %>
             <% var Prod_variance29= (((fix_Aprod29 - fix_Pprod29)/fix_Pprod29)*100).toFixed() %>
             <!-- Volume variance -->
             <% if( vol_variance29 >= -9  &&  vol_variance29 <= 9 ) {   %>
              <td   >
                <%= vol_variance29 %> % 
              </td>
            <%  }else if( vol_variance29 > 10 ) {  %>
              <td  class="positive"   >
                <%= vol_variance29 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= vol_variance29 %> %
                </td>
            <% } %>
            
            <!-- HCount  variance -->
            <% if( HCount_variance29 >= -9  &&  HCount_variance29 <= 9 ) {   %>
              <td   >
                <%= HCount_variance29 %> %
              </td>
            <%  }else if( HCount_variance29 > 10 ) {  %>
              <td  class="positive"   >
                <%= HCount_variance29 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= HCount_variance29 %> %
                </td>
            <% } %>

            <!-- Prod Variance -->
            <% if( Prod_variance29 >= -9  &&  Prod_variance29 <= 9 ) {   %>
              <td   >
                <%= Prod_variance29 %> %
              </td>
            <%  }else if( Prod_variance29 > 10 ) {  %>
              <td  class="positive"   >
                <%= Prod_variance29 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= Prod_variance29 %> %
                </td>
            <% } %>




          <!-- call outs --> 
            <td><%= campground.couts29 %></td>

      </tr>
     

      <tr data-toggle="collapse" data-target="#demo6"  class="ui center aligned header blue" data-parent="#myTable">
        <td>KDP Cover Gen	</td>
        <td><%= week_v30  %></td> 
            <td><%= week_hc30 %></td>
            
            <td>  
              <% var fix_Pprod30= (week_v30 / week_hc30)/7 %>  
              <%=  fix_Pprod30.toFixed(2) %> 
            </td> 
            
            <td><%= campground.A_Vol30 %></td> 
            <td><%= campground.A_HCount30 %></td>

            <td>
              <% var fix_Aprod30  = (campground.A_Vol30/ campground.A_HCount30)/7 %>
              <%=  fix_Aprod30.toFixed(2) %>
            </td>
             <!-- variance -->
             <% var vol_variance30= (((campground.A_Vol30 - week_v30)/week_v30)*100).toFixed()  %>
             <% var HCount_variance30= (((campground.A_HCount30 - week_hc30)/week_hc30)*100).toFixed()  %>
             <% var Prod_variance30= (((fix_Aprod30 - fix_Pprod30)/fix_Pprod30)*100).toFixed() %>
             <!-- Volume variance -->
             <% if( vol_variance30 >= -9  &&  vol_variance30 <= 9 ) {   %>
              <td   >
                <%= vol_variance30 %> % 
              </td>
            <%  }else  if( vol_variance30 > 10 ) {  %>
              <td  class="positive"   >
                <%= vol_variance30 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= vol_variance30 %> %
                </td>
            <% } %>
            
            <!-- HCount  variance -->
            <% if( HCount_variance30 >= -9  &&  HCount_variance30 <= 9 ) {   %>
              <td   >
                <%= HCount_variance30 %> %
              </td>
            <%  }else  if( HCount_variance30 > 10 ) {  %>
              <td  class="positive"   >
                <%= HCount_variance30 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= HCount_variance30 %> %
                </td>
            <% } %>

            <!-- Prod Variance -->
            <% if( Prod_variance30 >= -9  &&  Prod_variance30 <= 9 ) {   %>
              <td   >
                <%= Prod_variance30 %> %
              </td>
            <%  }else  if( Prod_variance30 > 10 ) {  %>
              <td  class="positive"   >
                <%= Prod_variance30 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= Prod_variance30 %> %
                </td>
            <% } %>


          <!-- call outs --> 
            <td><%= campground.couts30 %></td>

      </tr>
      
      
      <tr data-toggle="collapse" data-target="#demo7"  class="ui center aligned header blue" data-parent="#myTable">
        <td>Author Fix-up	</td>
        <td><%= week_v31  %></td> 
        <td><%= week_hc31 %></td>
       

        <td>  
          <% var fix_Pprod31= (week_v31 / week_hc31)/7 %>  
          <%=  fix_Pprod31.toFixed(2) %> 
        </td> 
        
        <td><%= campground.A_Vol31 %></td> 
        <td><%= campground.A_HCount31 %></td>

        <td>
          <% var fix_Aprod31  = (campground.A_Vol31/ campground.A_HCount31)/7 %>
          <%=  fix_Aprod31.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance31= (((campground.A_Vol31 - week_v31)/week_v31)*100).toFixed()  %>
         <% var HCount_variance31= (((campground.A_HCount31 - week_hc31)/week_hc31)*100).toFixed()  %>
         <% var Prod_variance31= (((fix_Aprod31 - fix_Pprod31)/fix_Pprod31)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance31 >= -9  &&  vol_variance31 <= 9 ) {   %>
          <td   >
            <%= vol_variance31 %> % 
          </td>
        <%  } else  if( vol_variance31 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance31 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance31 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance31 >= -9  &&  HCount_variance31 <= 9 ) {   %>
          <td   >
            <%= HCount_variance31 %> %
          </td>
        <%  }  else if( HCount_variance31 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance31 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance31 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance31 >= -9  &&  Prod_variance31 <= 9 ) {   %>
          <td   >
            <%= Prod_variance31 %> %
          </td>
        <%  } else  if( Prod_variance31 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance31 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance31 %> %
            </td>
        <% } %>




      <!-- call outs --> 
        <td><%= campground.couts31 %></td>
      </tr>
      

      <tr data-toggle="collapse" data-target="#demo8" class="ui center aligned header blue" data-parent="#myTable">
        <td>All Field Audit	</td>
        <td><%= week_v32  %></td> 
            <td><%= week_hc32 %></td>
            

            <td>  
              <% var fix_Pprod32= (week_v32 / week_hc32)/7 %>  
              <%=  fix_Pprod32.toFixed(2) %> 
            </td> 
            
            <td><%= campground.A_Vol32 %></td> 
            <td><%= campground.A_HCount32 %></td>

            <td>
              <% var fix_Aprod32  = (campground.A_Vol32/ campground.A_HCount32)/7 %>
              <%=  fix_Aprod32.toFixed(2) %>
            </td>
             <!-- variance -->
             <% var vol_variance32= (((campground.A_Vol32 - week_v32)/week_v32)*100).toFixed()  %>
             <% var HCount_variance32= (((campground.A_HCount32 - week_hc32)/week_hc32)*100).toFixed()  %>
             <% var Prod_variance32= (((fix_Aprod32 - fix_Pprod32)/fix_Pprod32)*100).toFixed() %>
             <!-- Volume variance -->
             <% if( vol_variance32 >= -9  &&  vol_variance32 <= 9 ) {   %>
              <td   >
                <%= vol_variance32 %> % 
              </td>
            <%  }else  if( vol_variance32 > 10 ) {  %>
              <td  class="positive"   >
                <%= vol_variance32 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= vol_variance32 %> %
                </td>
            <% } %>
            
            <!-- HCount  variance -->
            <% if( HCount_variance32 >= -9  &&  HCount_variance32 <= 9 ) {   %>
              <td   >
                <%= HCount_variance32 %> %
              </td>
            <%  }else  if( HCount_variance32 > 10 ) {  %>
              <td  class="positive"   >
                <%= HCount_variance32 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= HCount_variance32 %> %
                </td>
            <% } %>

            <!-- Prod Variance -->
            <% if( Prod_variance32 >= -9  &&  Prod_variance32 <= 9 ) {   %>
              <td   >
                <%= Prod_variance32 %> %
              </td>
            <%  }else  if( Prod_variance32 > 10 ) {  %>
              <td  class="positive"   >
                <%= Prod_variance32 %> %
              </td>
              <%  } else {  %>
                <td class="negative"  >
                  <%= Prod_variance32 %> %
                </td>
            <% } %>




          <!-- call outs --> 
            <td><%= campground.couts32 %></td>
      </tr>
     



      </tbody>
    </table>