<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center">
      Edit: <%= campground.team %> Team | <%= campground.week %>
    </h1>
    <div style=" margin: 25px auto;">
      <form
        action="/gokmetrics/<%= campground._id %>?_method=PUT"
        method="POST"
      >
        <table class="ui celled structured striped table">
          <thead>
            <tr>
              <th></th>
              <th class="ui center aligned header" colspan="3">Planned</th>
              <th class="ui center aligned header" colspan="4">Actual</th>
            </tr>
            <tr>
              <th class="ui center aligned ">Title</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Productivity</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Call outs</th>
            </tr>
            <tr>
              <th>GoK-Content Quality Score</th>
              <td>
                <input
                  name="campground[gok1]"
                  class="form-control"
                  type="text"
                  value="500"
                  readonly
                />
              </td>
              <td>
                <input
                  name="campground[gok2]"
                  class="form-control"
                  type="text"
                  value="4.99"
                  readonly
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  value="20.02"
                  readonly
                />
              </td>
              <td>
                <input
                  name="campground[gok3]"
                  value="<%= campground.gok3 %>"
                  class="form-control"
                  type="text"
                  value=""
                />
              </td>
              <td>
                <input
                  name="campground[gok4]"
                  value="<%= campground.gok4 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>

            <tr>
              <th>GOK Proactive Audits</th>
              <td>
                <input
                  name="gok5"
                  class="form-control"
                  type="text"
                  value="12"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok6"
                  class="form-control"
                  type="text"
                  value="1"
                  readonly
                />
              </td>
              <td>
                <input class="form-control" type="text" value="2.4" readonly />
              </td>
              <td>
                <input
                  name="gok7"
                  class="form-control"
                  type="text"
                  value="<%= campground.gok7 %>"
                />
              </td>
              <td>
                <input
                  name="gok8"
                  class="form-control"
                  type="text"
                  value="<%= campground.gok8 %>"
                />
              </td>

              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>

            <tr>
              <th>GOK Reactive Audits</th>
              <td>
                <input
                  name="gok9"
                  class="form-control"
                  type="text"
                  value="46"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok10"
                  class="form-control"
                  type="text"
                  value=".55"
                  readonly
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  value="16.72"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok11"
                  value="<%= campground.gok11 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="gok12"
                  value="<%= campground.gok12 %>"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>
            <tr>
              <th>GoK-X-Ray</th>
              <td>
                <input
                  name="gok13"
                  class="form-control"
                  type="text"
                  value="152"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok14"
                  class="form-control"
                  type="text"
                  value="1.26"
                  readonly
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  value="24.12"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok15"
                  value="<%= campground.gok15 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="gok16"
                  value="<%= campground.gok16 %>"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>

            <tr>
              <th>GoK-HDV</th>
              <td>
                <input
                  name="gok17"
                  class="form-control"
                  type="text"
                  value="8"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok18"
                  class="form-control"
                  type="text"
                  value="0.12"
                  readonly
                />
              </td>
              <td>
                <input class="form-control" type="text" value="13.3" readonly />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  name="gok19"
                  value="<%= campground.gok19 %>"
                />
              </td>
              <td>
                <input
                  name="gok20"
                  class="form-control"
                  type="text"
                  value="<%= campground.gok20 %>"
                />
              </td>

              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>

            <tr>
              <th>GoK-RPN (Real Page Number)</th>
              <td>
                <input
                  name="gok21"
                  class="form-control"
                  type="text"
                  value="185"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok22"
                  class="form-control"
                  type="text"
                  value="1.98"
                  readonly
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  value="18.68"
                  readonly
                />
              </td>
              <td>
                <input
                  name="gok23"
                  value="<%= campground.gok23 %>"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="gok24"
                  value="<%= campground.gok24 %>"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <div class="ui large icon input"><input type="text" /></div>
              </td>
            </tr>
          </thead>
        </table>

        <div class="form-group">
          <button class="ui basic blue button">Submit!</button>
        </div>
      </form>
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>
<% include ../partials/footer %>
