 
<link
rel="stylesheet"
type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
/>

<title>OP_Metrics -Weekly Report</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/main.css" />


<% week= xray.week %>

<!-- 2019 , 3rd Quarter  -->
<% if(week == "2019-W27" || week== "2019-W28" || week== "2019-W29" || week== "2019-W30" || week== "2019-W31" || week== "2019-W32" || week== "2019-W33" || week== "2019-W34"|| week== "2019-W35"|| week== "2019-W36" || week== "2019-W37" || week== "2019-W38"|| week== "2019-W39" ) { %>
    
    <% week_v1= "596.23" %> <%  week_v2= "46.15"%> <% week_v3= "264.69"%> <% week_v4= "10.15" %> <%  week_v5= "184.61"%> <% week_v6= "6.47"%>  <% week_v7= "85.15"%> <% week_v8= "1572"%> 
   <% week_v9= "127.61"%> <% week_v10= "1005.62"%> <% week_v11= "780" %> <%  week_v12= ""%> <% week_v13= "173"%> <% week_v14= "53.46" %> <%  week_v15= "125.1"%> <% week_v16= "50.76"%>  
   <% week_v17= "262.92"%> <% week_v18= "202.92"%> <% week_v19= "60"%> <% week_v20= "462.92"%>  <% week_v21= "48.46" %> <%  week_v22= "40.07"%> <% week_v23= "374.41"%> <% week_v24= "165.62" %> 
   <% week_v25= "125"%> <% week_v26= "18.46"%>  <% week_v27= "15.69"%> <% week_v28= "6.46"%> <% week_v29= "92.31"%> <% week_v30= "2500"%> <% week_v31= "92.31"%> <% week_v32= "85.85"%> 

   <% week_hc1= "4.05" %> <%  week_hc2= "0.38"%> <% week_hc3= "1.61"%> <% week_hc4= "0.12" %> <%  week_hc5= "1.40"%> <% week_hc6= "0.05"%>  <% week_hc7= "0.49"%> <% week_hc8= "17.65"%> 
   <% week_hc9= "0.97"%> <% week_hc10= "7.62"%> <% week_hc11= "6.03" %> <%  week_hc12= ""%> <% week_hc13= "1.22"%> <% week_hc14= "0.38" %> <%  week_hc15= "0.95"%> <% week_hc16= "0.29"%>  
   <% week_hc17= "0.82"%> <% week_hc18= "0.32"%> <% week_hc19= "0.50"%> <% week_hc20= "1.22"%> <% week_hc21= "0.35" %> <%  week_hc22= "0.11"%> <% week_hc23= "0.76"%> <% week_hc24= "0.30" %> 
   <% week_hc25= "0.2"%> <% week_hc26= "0.03"%>  <% week_hc27= "0.05"%> <% week_hc28= "0.02"%> <% week_hc29= "2"%> <% week_hc30= "0.10"%> <% week_hc31= "2"%> <% week_hc32= "0.10"%>                                       

<!-- 2019 ,   -->
<% } else if( week== "2019-W40" || week== "2019-W41" || week== "2019-W42" || week== "2019-W43" || week== "2019-W44"|| week== "2019-W45"|| week== "2019-W46" || week== "2019-W47" || week== "2019-W48"|| week== "2019-W49") { %>
  
  <% week_v1= "540.0" %> <%  week_v2= "90"%> <% week_v3= "90"%> <% week_v4= "90" %> <%  week_v5= "90"%> <% week_v6= "90"%>  <% week_v7= "90"%> <% week_v8= "1792"%> 
  <% week_v9= "256"%> <% week_v10= "256"%> <% week_v11= "64" %> <%  week_v12= "64"%> <% week_v13= "64"%> <% week_v14= "64" %> <%  week_v15= "256"%> <% week_v16= "256"%>  
  <% week_v17= "256"%> <% week_v18= "128"%> <% week_v19= "128"%> <% week_v20= "1059"%>  <% week_v21= "353" %> <%  week_v22= "353"%> <% week_v23= "353"%> <% week_v24= "7148" %> 
  <% week_v25= "1787"%> <% week_v26= "1787"%>  <% week_v27= "1787"%> <% week_v28= "1787"%> <% week_v29= "1787"%> <% week_v30= "685"%> <% week_v31= "685"%> <% week_v32= "685"%> 
  
  <% week_hc1= "4.89" %> <%  week_hc2= "0.83"%> <% week_hc3= "0.83"%> <% week_hc4= "0.83" %> <%  week_hc5= "0.83"%> <% week_hc6= "0.83"%>  <% week_hc7= "0.83"%> <% week_hc8= "9.54"%> 
    <% week_hc9= "1.9"%> <% week_hc10= "1.92"%> <% week_hc11= "0.48" %> <%  week_hc12= "0.48"%> <% week_hc13= "0.48"%> <% week_hc14= "0.48" %> <%  week_hc15= "1.9"%> <% week_hc16= "1.9"%>  
    <% week_hc17= "1.9"%> <% week_hc18= "0.95"%> <% week_hc19= "0.95"%> <% week_hc20= "4.35" %>  <% week_hc21= "1.45" %> <%  week_hc22= "1.45"%> <% week_hc23= "1.45"%> <% week_hc24= "3.67" %> 
    <% week_hc25= "1.8"%> <% week_hc26= "0.45"%>  <% week_hc27= "0.45"%> <% week_hc28= "0.45"%> <% week_hc29= "0.45"%> <% week_hc30= "1.9"%> <% week_hc31= "1.9"%> <% week_hc32= "1.9"%> 
   
<% } else if( week== "2020-W01" || week== "2020-W02" || week== "2020-W03" || week== "2020-W04" || week== "2020-W05" || week== "2020-W06"   || week== "2020-W07" || week== "2020-W08" || week== "2020-W09" || week== "2020-W10" || week== "2020-W11" || week== "2020-W12" || week== "2020-W13" ) { %>
       
        <% week_v1= "345" %> <%  week_v2= "8678"%> <% week_v3= "123"%> <% week_v4= "212" %> <%  week_v5= "432"%> <% week_v6= "885"%>  <% week_v7= "385"%> <% week_v8= "285"%> 
        <% week_v9= "885"%> <% week_v10= "685"%> <% week_v11= "212" %> <%  week_v12= "432"%> <% week_v13= "885"%> <% week_v14= "212" %> <%  week_v15= "432"%> <% week_v16= "885"%>  
        <% week_v17= "385"%> <% week_v18= "285"%> <% week_v19= "885"%> <% week_v20= "685"%>  <% week_v21= "212" %> <%  week_v22= "432"%> <% week_v23= "885"%> <% week_v24= "212" %> 
        <% week_v25= "432"%> <% week_v26= "885"%>  <% week_v27= "385"%> <% week_v28= "285"%> <% week_v29= "885"%> <% week_v30= "685"%> <% week_v31= "685"%> <% week_v32= "685"%> 

        <% week_hc1= "212" %> <%  week_hc2= "432"%> <% week_hc3= "885"%> <% week_hc4= "212" %> <%  week_hc5= "432"%> <% week_hc6= "885"%>  <% week_hc7= "385"%> <% week_hc8= "285"%> 
        <% week_hc9= "885"%> <% week_hc10= "685"%> <% week_hc11= "212" %> <%  week_hc12= "432"%> <% week_hc13= "885"%> <% week_hc14= "212" %> <%  week_hc15= "432"%> <% week_hc16= "885"%>  
        <% week_hc17= "385"%> <% week_hc18= "285"%> <% week_hc19= "885"%> <% week_hc10= "685"%>  <% week_hc21= "212" %> <%  week_hc22= "432"%> <% week_hc23= "885"%> <% week_hc24= "212" %> 
        <% week_hc25= "432"%> <% week_hc26= "885"%>  <% week_hc27= "385"%> <% week_hc28= "285"%> <% week_hc29= "885"%> <% week_hc30= "685"%> <% week_hc31= "685"%> <% week_hc32= "685"%> 



<% }  else if(week== "2020-W14" || week== "2020-W15" || week== "2020-W16"   || week== "2020-W17" || week== "2020-W18" || week== "2020-W19" || week== "2020-W20" || week== "2020-W21" || week== "2020-W22" || week== "2020-W23" || week== "2020-W24"|| week== "2020-W25"|| week== "2020-W26" ) { %>
        <% week_v1= "345" %> <%  week_v2= "8678"%> <% week_v3= "123"%> <% week_v4= "212" %> <%  week_v5= "432"%> <% week_v6= "885"%>  <% week_v7= "385"%> <% week_v8= "285"%> 
        <% week_v9= "885"%> <% week_v10= "685"%> <% week_v11= "212" %> <%  week_v12= "432"%> <% week_v13= "885"%> <% week_v14= "212" %> <%  week_v15= "432"%> <% week_v16= "885"%>  
        <% week_v17= "385"%> <% week_v18= "285"%> <% week_v19= "885"%> <% week_v20= "685"%>  <% week_v21= "212" %> <%  week_v22= "432"%> <% week_v23= "885"%> <% week_v24= "212" %> 
        <% week_v25= "432"%> <% week_v26= "885"%>  <% week_v27= "385"%> <% week_v28= "285"%> <% week_v29= "885"%> <% week_v30= "685"%> <% week_v31= "685"%> <% week_v32= "685"%> 

        <% week_hc1= "212" %> <%  week_hc2= "432"%> <% week_hc3= "885"%> <% week_hc4= "212" %> <%  week_hc5= "432"%> <% week_hc6= "885"%>  <% week_hc7= "385"%> <% week_hc8= "285"%> 
        <% week_hc9= "885"%> <% week_hc10= "685"%> <% week_hc11= "212" %> <%  week_hc12= "432"%> <% week_hc13= "885"%> <% week_hc14= "212" %> <%  week_hc15= "432"%> <% week_hc16= "885"%>  
        <% week_hc17= "385"%> <% week_hc18= "285"%> <% week_hc19= "885"%> <% week_hc20= "685"%>  <% week_hc21= "212" %> <%  week_hc22= "432"%> <% week_hc23= "885"%> <% week_hc24= "212" %> 
        <% week_hc25= "432"%> <% week_hc26= "885"%>  <% week_hc27= "385"%> <% week_hc28= "285"%> <% week_hc29= "885"%> <% week_hc30= "585"%> <% week_hc31= "685"%> <% week_hc32= "685"%> 

<% } else if (week== "2020-W27" || week== "2020-W28" || week== "2020-W29" || week== "2020-W30" || week== "2020-W31" || week== "2020-W32" || week== "2020-W33" || week== "2020-W34"|| week== "2020-W35"|| week== "2020-W36" || week== "2020-W37" || week== "2020-W38"|| week== "2020-W39"|| week== "2020-W40") { %>

  <% week_v1= "345" %> <%  week_v2= "8678"%> <% week_v3= "123"%> <% week_v4= "212" %> <%  week_v5= "432"%> <% week_v6= "885"%>  <% week_v7= "385"%> <% week_v8= "285"%> 
  <% week_v9= "885"%> <% week_v10= "685"%> <% week_v11= "212" %> <%  week_v12= "432"%> <% week_v13= "885"%> <% week_v14= "212" %> <%  week_v15= "432"%> <% week_v16= "885"%>  
  <% week_v17= "385"%> <% week_v18= "285"%> <% week_v19= "885"%> <% week_v20= "685"%>  <% week_v21= "212" %> <%  week_v22= "432"%> <% week_v23= "885"%> <% week_v24= "212" %> 
  <% week_v25= "432"%> <% week_v26= "885"%>  <% week_v27= "385"%> <% week_v28= "285"%> <% week_v29= "885"%> <% week_v30= "655"%> <% week_v31= "685"%> <% week_v32= "985"%> 

  <% week_hc1= "212" %> <%  week_hc2= "432"%> <% week_hc3= "885"%> <% week_hc4= "212" %> <%  week_hc5= "432"%> <% week_hc6= "885"%>  <% week_hc7= "385"%> <% week_hc8= "285"%> 
  <% week_hc9= "885"%> <% week_hc10= "685"%> <% week_hc11= "212" %> <%  week_hc12= "432"%> <% week_hc13= "885"%> <% week_hc14= "212" %> <%  week_hc15= "432"%> <% week_hc16= "885"%>  
  <% week_hc17= "385"%> <% week_hc18= "285"%> <% week_hc19= "885"%> <% week_hc20= "635"%>  <% week_hc21= "212" %> <%  week_hc22= "432"%> <% week_hc23= "885"%> <% week_hc24= "212" %> 
  <% week_hc25= "432"%> <% week_hc26= "885"%>  <% week_hc27= "385"%> <% week_hc28= "285"%> <% week_hc29= "885"%> <% week_hc30= "685"%> <% week_hc31= "685"%> <% week_hc32= "685"%> 

  
  <% } else if (week== "2020-W27" || week== "2020-W28" || week== "2020-W29" || week== "2020-W30" || week== "2020-W31" || week== "2020-W32" || week== "2020-W33" || week== "2020-W34"|| week== "2020-W35"|| week== "2020-W36" || week== "2020-W37" || week== "2020-W38"|| week== "2020-W39"|| week== "2020-W40") { %>

    <% week_v1= "345" %> <%  week_v2= "8678"%> <% week_v3= "123"%> <% week_v4= "212" %> <%  week_v5= "432"%> <% week_v6= "885"%>  <% week_v7= "385"%> <% week_v8= "285"%> 
    <% week_v9= "885"%> <% week_v10= "685"%> <% week_v11= "212" %> <%  week_v12= "432"%> <% week_v13= "885"%> <% week_v14= "212" %> <%  week_v15= "432"%> <% week_v16= "885"%>  
    <% week_v17= "385"%> <% week_v18= "285"%> <% week_v19= "885"%> <% week_v20= "695"%>  <% week_v21= "212" %> <%  week_v22= "432"%> <% week_v23= "885"%> <% week_v24= "212" %> 
    <% week_v25= "432"%> <% week_v26= "885"%>  <% week_v27= "385"%> <% week_v28= "285"%> <% week_v29= "885"%> <% week_v30= "685"%> <% week_v31= "685"%> <% week_v32= "685"%> 

    <% week_hc1= "212" %> <%  week_hc2= "432"%> <% week_hc3= "885"%> <% week_hc4= "212" %> <%  week_hc5= "432"%> <% week_hc6= "885"%>  <% week_hc7= "385"%> <% week_hc8= "285"%> 
    <% week_hc9= "885"%> <% week_hc10= "685"%> <% week_hc11= "212" %> <%  week_hc12= "432"%> <% week_hc13= "885"%> <% week_hc14= "212" %> <%  week_hc15= "432"%> <% week_hc16= "885"%>  
    <% week_hc17= "385"%> <% week_hc18= "285"%> <% week_hc19= "885"%> <% week_hc20= "685"%>  <% week_hc21= "212" %> <%  week_hc22= "432"%> <% week_hc23= "885"%> <% week_hc24= "212" %> 
    <% week_hc25= "432"%> <% week_hc26= "885"%>  <% week_hc27= "385"%> <% week_hc28= "285"%> <% week_hc29= "885"%> <% week_hc30= "615"%> <% week_hc31= "605"%> <% week_hc32= "685"%> 

  <% } else if (week== "2020-W41" || week== "2020-W42" || week== "2020-W43" || week== "2020-W44" || week== "2020-W45" || week== "2020-W46"   || week== "2020-W47" || week== "2020-W48" || week== "2020-W49" || week== "2020-W50" || week== "2020-W51" || week== "2020-W52" || week== "2020-W53") { %>

    <% week_v1= "345" %> <%  week_v2= "8678"%> <% week_v3= "123"%> <% week_v4= "212" %> <%  week_v5= "432"%> <% week_v6= "885"%>  <% week_v7= "385"%> <% week_v8= "285"%> 
    <% week_v9= "885"%> <% week_v10= "685"%> <% week_v11= "212" %> <%  week_v12= "432"%> <% week_v13= "885"%> <% week_v14= "212" %> <%  week_v15= "432"%> <% week_v16= "885"%>  
    <% week_v17= "385"%> <% week_v18= "285"%> <% week_v19= "885"%> <% week_v20= "685"%>  <% week_v21= "212" %> <%  week_v22= "432"%> <% week_v23= "885"%> <% week_v24= "212" %> 
    <% week_v25= "432"%> <% week_v26= "885"%>  <% week_v27= "385"%> <% week_v28= "285"%> <% week_v29= "885"%> <% week_v30= "685"%> <% week_v31= "695"%> <% week_v32= "685"%> 

    <% week_hc1= "4.89" %> <%  week_hc2= "0.83"%> <% week_hc3= "0.83"%> <% week_hc4= "0.83" %> <%  week_hc5= "0.83"%> <% week_hc6= "0.83"%>  <% week_hc7= "0.83"%> <% week_hc8= "1.9"%> 
    <% week_hc9= "1.9"%> <% week_hc10= "0.48"%> <% week_hc11= "0.48" %> <%  week_hc12= "0.48"%> <% week_hc13= "0.48"%> <% week_hc14= "1.9" %> <%  week_hc15= "1.9"%> <% week_hc16= "1.9"%>  
    <% week_hc17= "0.95"%> <% week_hc18= "0.95"%> <% week_hc19= "8.02"%> <% week_hc20= "1.45"%>  <% week_hc21= "1.45" %> <%  week_hc22= "1.45"%> <% week_hc23= "3.67"%> <% week_hc24= "1.8" %> 
    <% week_hc25= "0.45"%> <% week_hc26= "0.45"%>  <% week_hc27= "0.45"%> <% week_hc28= "0.45"%> <% week_hc29= "885"%> <% week_hc30= "685"%> <% week_hc31= "685"%> <% week_hc32= "685"%>     
    
    
<% } %>



<div  class="show" >
    <script>
            
            var tableToExcel = (function() {
          var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
          return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
          }
        })()
            
    
    </script>
     
    <div >
        <div class="thumbnail">
            <div class="caption-full">
              <caption>
                <% week= xray.week %> 
                <a href="/xray"> 
                  <button class="ui labeled icon button">
                    <i class="left arrow icon"></i>
                    Go Back
                  </button>
                </a>

                <h2 class="team " > X-Ray Team: [ <%= week %> ] </h2>   
              </caption>
        <div>
         
        </div>   
       
        <input type="button" class="xs-btn btn btn-success"  onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">
       
         <div>
          <em>Submitted By <b><%= xray.author.username %></b> - </em>
          <span><i> On, </i><%=  xray.created.toDateString() %></span><br> 
          
         </div>
             
<table class="ui celled  striped table " id="testTable" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides">
  <thead>
    <tr>
      <th>
        <h4><%= xray.week %></h4>
      </th>
      
      <th class="ui center aligned header" colspan="3">Planned  </th>
      <th class="ui center aligned header" colspan="3">Actual </th>
      <th class="ui center aligned header" colspan="3">Variance </th>
      <th class="ui center aligned header" colspan="1">Call Outs  </th>
      <!-- <th class="ui center aligned header" colspan="1">Accuracy  </th> -->
      <th class="ui center aligned header" colspan="1">CPH  </th>


    </tr>
    <tr>
      <th class="ui center aligned "> Metrics Title </th>
        <th>Volume</th>
        <th>Head Count</th>
        <th>Productivity</th>
        <th>Volume</th>
        <th>Head Count</th>
        <th>Productivity</th>
        <th>Volume</th>
        <th>Head Count</th>
        <th>Productivity</th>
        <th>Reason</th>
        <!-- <th>Accuracy in (%)</th> -->
        <th>Actual</th>
    </tr>
  </thead>
  <tbody class="panel">
    <tr data-toggle="collapse" data-target="#demo1" class="ui center aligned header blue" data-parent="#testTable"> 
      <td></i>  Xray for Books(EN,DE &JP) <i class="right aligned small dropdown icon  "></i></td> 
      <td ><b><%= week_v1 %></b></td> 
      <td> <b><%= week_hc1 %></b> </td> 
      <td>  
        <% var fix_Pprod1= (week_v1 / week_hc1)/60 %>  
         <b><%=fix_Pprod1.toFixed(2) %></b>  
      </td> 
      <td><b><%= xray.A_Vol1 %></b></td> 
      <td><b><%= xray.A_HCount1 %></b></td> 
      <td>
        <% var fix_Aprod1  = (xray.A_Vol1/ xray.A_HCount1)/60 %> 
        <b><%=  fix_Aprod1.toFixed(2) %></b> 
      </td> 
      
      <!-- variance --> 
       <% var vol_variance1= (((xray.A_Vol1 - week_v1)/week_v1)*100).toFixed()  %>
       <% var HCount_variance1= (((xray.A_HCount1 - week_hc1)/week_hc1)*100).toFixed()  %>
       <% var Prod_variance1= (((fix_Aprod1 - fix_Pprod1)/fix_Pprod1)*100).toFixed() %>
      
       <!-- Volume variance -->
       <% if( vol_variance1 >= -9  &&  vol_variance1 <= 9 ) { %>
        <td >
          <%= vol_variance1 %> %  
        </td>
      <%  } else if( vol_variance1 > 10 ) {  %>
        <td  class="positive"   >
          <%= vol_variance1 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= vol_variance1 %> %
          </td>
      <% } %>
      
      <!-- HCount  variance -->
      <% if( HCount_variance1 >= -9  &&  HCount_variance1 <= 9 ) {   %>
        <td   >
          <%= HCount_variance1 %> %
        </td>
      <%  } else if( HCount_variance1 > 10 ) {  %>
        <td  class="positive"   >
          <%= HCount_variance1 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= HCount_variance1 %> %
          </td>
      <% } %>

      <!-- Prod Variance -->
      <% if( Prod_variance1 >= -9  &&  Prod_variance1 <= 9 ) {   %>
        <td   >
          <%= Prod_variance1 %> %
        </td>
      <%  } else if( Prod_variance1 > 10 ) {  %>
        <td  class="positive"   >
          <%= Prod_variance1 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= Prod_variance1 %> %
          </td>
      <% } %>

      <td><%= xray.couts1 %></td>
     
      <!-- <td><%= xray.accuracy1 %>%</td> -->
      <td><%=  xray.A_CPH1 %></td>

    </tr>

    </tr>
    <tr id="demo1" class="collapse ">
      <th>Xray for English(EN)</th>
      <td><%= week_v2 %></td>   
        <td><%= week_hc2 %></td>  
        <td>  
          <% var fix_Pprod2= (week_v2 / week_hc2)/60 %>  
          <%=  fix_Pprod2.toFixed(2) %> 
        </td> 


        <td><%= xray.A_Vol2 %></td> 
        <td><%= xray.A_HCount2 %></td>

        <td>
          <% var fix_Aprod2  = (xray.A_Vol2/ xray.A_HCount2)/60 %>
          <%=  fix_Aprod2.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance2= (((xray.A_Vol2 - week_v2)/week_v2)*100).toFixed()  %>
         <% var HCount_variance2= (((xray.A_HCount2 - week_hc2)/week_hc2)*100).toFixed()  %>
         <% var Prod_variance2= (((fix_Aprod2 - fix_Pprod2)/fix_Pprod2)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance2 >= -9  &&  vol_variance2 <= 9 ) {   %>
          <td   >
            <%= vol_variance2 %> %
          </td>
        <%  } else  if( vol_variance2 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance2 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance2 %>  %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance2 >= -9  &&  HCount_variance2 <= 9 ) {   %>
          <td   >
            <%= HCount_variance2 %> %
          </td>
        <%  } else  if( HCount_variance2 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance2 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance2 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance2 >= -9  &&  Prod_variance2 <= 9 ) {   %>
          <td   >
             <%= Prod_variance2 %> %
          </td>
        <%  } else  if( Prod_variance2 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance2 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance2 %> %
            </td>
        <% } %>
        <!-- call outs -->
        <td><%= xray.couts2 %></td>
        <!-- <td><%= xray.accuracy2 %> </td> -->
       <td><%=  xray.A_CPH2 %></td>
    </tr>

    
    <tr id="demo1" class="collapse">
      <th>Xray for German(DE)</th>
      <td><%= week_v3 %></td> 
      <td><%= week_hc3 %></td>
      <td>  
        <% var fix_Pprod3= (week_v3 / week_hc3)/60 %>  
        <%=  fix_Pprod3.toFixed(2) %> 
      </td> 


      <td><%= xray.A_Vol3 %></td> 
      <td><%= xray.A_HCount3 %></td>

      <td>
        <% var fix_Aprod3  = (xray.A_Vol3/ xray.A_HCount3)/60 %>
        <%=  fix_Aprod3.toFixed(2) %>
      </td>
       <!-- variance -->
       <% var vol_variance3= (((xray.A_Vol3 - week_v3)/week_v3)*100).toFixed()  %>
       <% var HCount_variance3= (((xray.A_HCount3 - week_hc3)/week_hc3)*100).toFixed()  %>
       <% var Prod_variance3= (((fix_Aprod3 - fix_Pprod3)/fix_Pprod3)*100).toFixed() %>
       <!-- Volume variance -->
       <% if( vol_variance3 >= -9  &&  vol_variance3 <= 9 ) {   %>
        <td   >
          <%= vol_variance3 %> % 
        </td>
      <%  } else  if( vol_variance3 > 10 ) {  %>
        <td  class="positive"   >
          <%= vol_variance3 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= vol_variance3 %> %
          </td>
      <% } %>
      
      <!-- HCount  variance -->
      <% if( HCount_variance3 >= -9  &&  HCount_variance3 <= 9 ) {   %>
        <td   >
          <%= HCount_variance3 %> %
        </td>
      <%  } else  if( HCount_variance3 > 10 ) {  %>
        <td  class="positive"   >
          <%= HCount_variance3 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= HCount_variance3 %> %
          </td>
      <% } %>

      <!-- Prod Variance -->
      <% if( Prod_variance3 >= -9  &&  Prod_variance3 <= 9 ) {   %>
        <td   >
          <%= Prod_variance3 %> %
        </td>
      <%  } else  if( Prod_variance3 > 10 ) {  %>
        <td  class="positive"   >
          <%= Prod_variance3 %> %
        </td>
        <%  } else {  %>
          <td class="negative"  >
            <%= Prod_variance3 %> %
          </td>
      <% } %>

      <!-- call outs -->
      <td><%= xray.couts3 %></td>
      <!-- <td><%= xray.accuracy3 %></td> -->
      <td><%= xray.A_CPH3 %></td>

    </tr>

    <tr id="demo1" class="collapse">
      <th>Xray for Japanese(JP)</th>
      <td><%= week_v4 %></td> 
        <td><%= week_hc4 %></td>
        <td>  
          <% var fix_Pprod4= (week_v4 / week_hc4)/60 %>  
          <%=  fix_Pprod4.toFixed(2) %> 
        </td> 


        <td><%= xray.A_Vol4 %></td> 
        <td><%= xray.A_HCount4 %></td>

        <td>
          <% var fix_Aprod4  = (xray.A_Vol4/ xray.A_HCount4)/60 %>
          <%=  fix_Aprod4.toFixed(2) %>
        </td>
         <!-- variance -->
         <% var vol_variance4= (((xray.A_Vol4 - week_v4)/week_v4)*100).toFixed()  %>
         <% var HCount_variance4= (((xray.A_HCount4 - week_hc4)/week_hc4)*100).toFixed()  %>
         <% var Prod_variance4= (((fix_Aprod4 - fix_Pprod4)/fix_Pprod4)*100).toFixed() %>
         <!-- Volume variance -->
         <% if( vol_variance4 >= -9  &&  vol_variance4 <= 9 ) {   %>
          <td   >
            <%= vol_variance4 %> % 
          </td>
        <%  }else  if( vol_variance4 > 10 ) {  %>
          <td  class="positive"   >
            <%= vol_variance4 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= vol_variance4 %> %
            </td>
        <% } %>
        
        <!-- HCount  variance -->
        <% if( HCount_variance4 >= -9  &&  HCount_variance4 <= 9 ) {   %>
          <td   >
            <%= HCount_variance4 %> %
          </td>
        <%  }else  if( HCount_variance4 > 10 ) {  %>
          <td  class="positive"   >
            <%= HCount_variance4 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= HCount_variance4 %> %
            </td>
        <% } %>

        <!-- Prod Variance -->
        <% if( Prod_variance4 >= -9  &&  Prod_variance4 <= 9 ) {   %>
          <td   >
            <%= Prod_variance4 %> %
          </td>
        <%  }else  if( Prod_variance4 > 10 ) {  %>
          <td  class="positive"   >
            <%= Prod_variance4 %> %
          </td>
          <%  } else {  %>
            <td class="negative"  >
              <%= Prod_variance4 %> %
            </td>
        <% } %>

        <!-- call outs -->
        <td><%= xray.couts4 %></td>
        
        <!-- <td><%= xray.accuracy4 %></td> -->

        <td><%=  xray.A_CPH4 %></td>

    </tr>


     
    <tr data-toggle="collapse" data-target="#demo5"  class="ui center aligned header blue" data-parent="#testTable">
      <td> Xray for Chinese(CN)	</td>
      <td><%= week_v24  %></td> 
          <td><%= week_hc24 %></td>
          

          <td>  
            <% var fix_Pprod24= (week_v24 / week_hc24)/60 %>  
            <%=  fix_Pprod24.toFixed(2) %> 
          </td> 
          
          <td><%= xray.A_Vol24 %></td> 
          <td><%= xray.A_HCount24 %></td>

          <td>
            <% var fix_Aprod24  = (xray.A_Vol24/ xray.A_HCount24)/60 %>
            <%=  fix_Aprod24.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance24= (((xray.A_Vol24 - week_v24)/week_v24)*100).toFixed()  %>
           <% var HCount_variance24= (((xray.A_HCount24 - week_hc24)/week_hc24)*100).toFixed()  %>
           <% var Prod_variance24= (((fix_Aprod24 - fix_Pprod24)/fix_Pprod24)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance24 >= -9  &&  vol_variance24 <= 9 ) {   %>
            <td   >
              <%= vol_variance24 %> % 
            </td>
          <%  }else if( vol_variance24 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance24 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance24 %> %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance24 >= -9  &&  HCount_variance24 <= 9 ) {   %>
            <td   >
              <%= HCount_variance24 %> %
            </td>
          <%  }else if( HCount_variance24 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance24 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance24 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance24 >= -9  &&  Prod_variance24 <= 9 ) {   %>
            <td   >
              <%= Prod_variance24 %> %
            </td>
          <%  }else if( Prod_variance24 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance24 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance24 %> %
              </td>
          <% } %>




        <!-- call outs --> 
          <td><%= xray.couts24 %></td>
          <!-- <td><%= xray.accuracy24 %>%</td> -->
          <td><%=  xray.A_CPH24 %></td>

    </tr>
   

    
    <tr data-toggle="collapse" data-target="#demo5"  class="ui center aligned header blue" data-parent="#testTable">
      <td> Xray for Textbooks	</td>
      <td><%= week_v29  %></td> 
          <td><%= week_hc29 %></td>
          

          <td>  
            <% var fix_Pprod29= (week_v29 / week_hc29)/60 %>  
            <%=  fix_Pprod29.toFixed(2) %> 
          </td> 
          
          <td><%= xray.A_Vol29 %></td> 
          <td><%= xray.A_HCount29 %></td>

          <td>
            <% var fix_Aprod29  = (xray.A_Vol29/ xray.A_HCount29)/60 %>
            <%=  fix_Aprod29.toFixed(2) %>
          </td>
           <!-- variance -->
           <% var vol_variance29= (((xray.A_Vol29 - week_v29)/week_v29)*100).toFixed()  %>
           <% var HCount_variance29= (((xray.A_HCount29 - week_hc29)/week_hc29)*100).toFixed()  %>
           <% var Prod_variance29= (((fix_Aprod29 - fix_Pprod29)/fix_Pprod29)*100).toFixed() %>
           <!-- Volume variance -->
           <% if( vol_variance29 >= -9  &&  vol_variance29 <= 9 ) {   %>
            <td   >
              <%= vol_variance29 %> % 
            </td>
          <%  }else if( vol_variance29 > 10 ) {  %>
            <td  class="positive"   >
              <%= vol_variance29 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= vol_variance29 %> %
              </td>
          <% } %>
          
          <!-- HCount  variance -->
          <% if( HCount_variance29 >= -9  &&  HCount_variance29 <= 9 ) {   %>
            <td   >
              <%= HCount_variance29 %> %
            </td>
          <%  }else if( HCount_variance29 > 10 ) {  %>
            <td  class="positive"   >
              <%= HCount_variance29 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= HCount_variance29 %> %
              </td>
          <% } %>

          <!-- Prod Variance -->
          <% if( Prod_variance29 >= -9  &&  Prod_variance29 <= 9 ) {   %>
            <td   >
              <%= Prod_variance29 %> %
            </td>
          <%  }else if( Prod_variance29 > 10 ) {  %>
            <td  class="positive"   >
              <%= Prod_variance29 %> %
            </td>
            <%  } else {  %>
              <td class="negative"  >
                <%= Prod_variance29 %> %
              </td>
          <% } %>




        <!-- call outs --> 
          <td><%= xray.couts29 %></td>
          <!-- <td><%= xray.accuracy29 %>%</td> -->
          <td><%=  xray.A_CPH29 %></td>

    </tr>
   

    </tbody>
  </table>

    <% if(currentUser && xray.author.id.equals(currentUser._id)  || currentUser && currentUser.isAdmin ){ %> 
        
        <a class="btn btn-warning btn-xs"  href="/xray/<%= xray._id %>/edit"> Edit <i class="edit icon" >  </i> </a>
        
        <form id="delete-form" action="/xray/<%= xray._id %>?_method=DELETE" method="POST">
            <button id="del" onclick="show_confirm()" class="btn  btn-danger btn-xs"> Delete <i class= "trash alternate icon"  > </i></button>
        </form>

    <% } %>

            </div>
        </div>
    </div>
</div>


<script>

  function show_confirm(){
    var deleted = confirm("Press a button")
    if(deleted=== true)
      alert("ok")
  

  }


</script>


<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>


<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>

